[2022-01-17 19:42] ziyaointl opened #1 "Github backend requests both read and write access"
When using the github backend, the scope requested is `user`, which includes both read and write permissions to user data: https://github.com/greenpau/caddy-auth-portal/blob/0f64ae51b30682557cfa1ffb9dedcc92dc689aaf/caddyfile.go#L270
This is not ideal, since caddy shouldn't be changing user data. Instead, we could use the scope `read:user` which requests only read access.

Github documentation: htt

[2022-01-18 18:38] calebcoverdale opened #2 "Azure Claims add to JWT for Caddy Security"
After parsing the through the logs and the tokens with @greenpau we have determined that it is doable to add extra claims from AzureAD to the token from Caddy Security.

The access token generated from Azure:
[code]

The ID Token from Azure:
[code]

Logs receiving OAUTH 2.0 Authorization:
[code]

Logs containing decoded claims from OAUTH server access token:
[code]

[2022-01-21 05:43] greenpau opened #3 "feature: shared secrets store"
Add credentials store so that it can be accessible by auth portal and authorize plugin subsystems.

For example, I want to store AWS credentials and being able to access it from various Caddy plugins.

Create the code necessary to support this in `pkg/shared/secrets` directory. It should be similar to the code in `pkg/shared/idp`.

Original issue: https://github.com/greenpau/caddy-authorize/issues

[2022-01-21 05:45] greenpau opened #4 "feature: create/verify PASETO tokens"
This issue tracks the development of support for PASETO tokens.

Original issue: https://github.com/greenpau/caddy-authorize/issues/88

[2022-01-21 05:46] greenpau opened #5 "feature: negative matches"
I want to be able to handle inverse matching in transforms.

1. If email field exists in the data, and it does not match, the condition is satisfied and the `authp/test` role gets added.
If the field does NOT exist, then it is also a match!

[code]

2. The condition is NOT satisfied when any:
  * email field does not exists in the data
  * the value of the email field matches

[code]

Original iss

[2022-01-21 05:47] greenpau opened #6 "feature: custom claims conditions"
Original issue: https://github.com/greenpau/caddy-authorize/issues/79

[2022-01-21 10:05] tetricky opened #8 "question: Migrating from caddy-auth-portal, and functionality."
It seems there's been a refactor to bring portal and authorize into this project. Your readme says "Please open an issue if you need help migrating configurations from caddy-auth-portal and caddy-authorize (aka caddy-auth-jwt)."

That sounds like exactly what I want to do! I am assuming that I need to use this repository (to build into my container), rather than the old auth-portal, and authorize?

[2022-01-21 13:06] greenpau commented on #8
@tetricky , the syntax is the same. Please see https://github.com/greenpau/caddy-security/blob/main/assets/config/Caddyfile

to get an idea of what needs to change. I think it is intuitive (my wishful thinking? 😃 ). Anyways, please let me know if you “get it”. Meanwhile, I am working on Youtube video ;-)

[2022-01-21 13:59] tetricky commented on #8
If I am creating a container, to utilise this refactored code, what do I need to install. previously this was caddy-auth-portal and authorize. Is it now caddy-security and aaasf?

Is there any added functionality in this current release, or is it a refactoring to allow for future expanded functionality?

[2022-01-21 15:53] greenpau commented on #8
@tetricky , @MVethana . I will answer shortly. Will be creating a docker image.

[2022-01-21 15:55] greenpau commented on #8
@MVethana , yes! 👍 I went away from having `primary`/`secondary` context and synchronization related to it (was fun to write, but the config was not expressive enough)

[2022-01-21 15:57] greenpau commented on #8
@tetricky , no you need to forget that `caddy-auth-portal` and `caddy-authorize` existed 😄  Just `caddy-security`.

It is the latter. Refactoring to allow future expansion, e.g. registration email with OTP (not easily possible right now).

Will add/explain.

[2022-01-21 16:14] MVethana opened #9 "question: How do roles work now"
Previously utilizing caddy-authorize, this line for roles worked

`allow roles User Admin`

How would this be implemented in caddy-security, the docs don't seem to be updated yet. The repo's description includes this snippet,
`allow roles authp/admin authp/user`, but am unsure how to implement this in my existing Caddyfile, specifically I am using organizr's jwt, https://docs.organizr.app/features

[2022-01-21 16:19] greenpau commented on #9
@MVethana , please see if this makes sense:

[code]

[2022-01-21 16:45] MVethana commented on #9
@greenpau Where does the "authp/" come from, is this a set keyword or is it dynamic from the contents of the jwt we are using. This is an example jwt that I am using,

`{
  "iss": "Organizr",
  "aud": "Organizr",
  "jti": "4f1g23a12aa",
  "iat": 1555553579,
  "exp": 1556158379,
  "username": "myusername",
  "group": "Admin",
  "groupID": 0,
  "email": "mail@spam.com",
  "image": "https://www.grava

[2022-01-21 16:47] greenpau commented on #9
@MVethana , it is set when authenticating with auth portal.

In your case, you have `"group": "Admin",` So...

[code]

[2022-01-21 16:48] greenpau commented on #9
@MVethana , you obviously need to change the key. More about it here: https://authp.github.io/docs/authorize/token-verification

[2022-01-21 16:50] MVethana commented on #9
Anyway to debug the specific cause of a user authorization failed error, in that case that line has not changed for me from when I switched over from caddy-authorize yet I'm getting errors now

[2022-01-21 16:50] greenpau commented on #9
@MVethana , the `group`, `groups`, `role`, `roles` are all treated as "roles" for the purpose of access control.

https://github.com/greenpau/aaasf/blob/74a812ced08a97de256432e2da810bea8ea27a13/pkg/user/user.go#L903-L906

[2022-01-21 16:54] MVethana commented on #9
Specifically debug is giving me
` security        token validation error  {"session_id": "", "request_id": "[redacted]", "error": "no token found"}`

[2022-01-21 16:58] greenpau commented on #9
security token validation error {"session_id": "", "request_id": "[redacted]", "error": "no token found"}

@MVethana , the handler looks for tokens in the way described [here](https://authp.github.io/docs/authorize/token-discovery).

Do you provide the token in a cookie? bearer? etc.?

Based on the above, I will guide you to the relevant command(s).

[2022-01-21 17:00] greenpau commented on #8
The docker image is here: https://github.com/greenpau/caddy-security/pkgs/container/authp

[2022-01-21 17:20] MVethana commented on #9
@greenpau The setup I have was working with caddy-authorize, `crypto key token name` is set and not specifying `set token sources`

[2022-01-21 17:38] greenpau commented on #9
@MVethana , I get it! I need this info to troubleshoot. It narrows the scope of inquiry for me.

[2022-01-21 17:40] MVethana commented on #9
@greenpau Seems to be a cookie from the [organizr docs](https://docs.organizr.app/features/server-authentication#:~:text=keep%20an%20authentication-,cookie,-generated%20by%20Organizr)

[2022-01-21 18:15] greenpau commented on #9
@MVethana , I have a guess about it. Let's try this then.

[code]

Please change `<uuid>` to the value from `$this->config['uuid']`.

Just to confirm does the `verify` key matches the one from `$this->config['organizrHash']`?

[2022-01-21 18:22] greenpau commented on #9
@MVethana , with the above ACLs, we will see what is being hit and what type of data is there.

Also, please use `caddy-trace` plugin to see what is being received by the `authorize`. Something like this. The log entries will have the `organizr` tags in them.

[code]

Please create a gist with the logs.

[2022-01-21 18:23] MVethana commented on #9
With the acl above this is what I am receiving,

`DEBUG   security        redirecting unauthorized user   {"session_id": "", "request_id": "[redacted]", "method": "location"}
2022/01/21 18:21:44.442 ERROR   http.handlers.authentication    auth provider returned error    {"provider": "authorizer", "error": "user authorization failed"}`

Will run caddy-trace and see what authorize is getting in just

[2022-01-21 18:28] greenpau commented on #9
@MVethana , what at the messages above this one? This just tells me that authorization has failed and authorizer redirects a user with `Location` based redirect.

By the way, you could also disable the redirect for the troubleshooting:

[code]

That would be the source of the info.

What is strange is that you are not seeing "hit" log messages from ACL. Which might mean that the authorization is f

[2022-01-21 18:35] MVethana commented on #9
With redirect disabled confirmed that verify key and token name are correct, any way to privately send you the gist @greenpau ?

[2022-01-21 18:37] greenpau commented on #9
@MVethana , please send it to greenpau@outlook.com

[2022-01-21 18:39] MVethana commented on #9
Sent

[2022-01-21 18:57] greenpau commented on #9
@MVethana , there is only 1 line with `"tag":"Organizr"` in the gist.

[2022-01-21 19:00] greenpau commented on #9
@MVethana , here is what I see.

The request comes with 2 cookies. I replaced UUID instead of redacting them.

[code]

You need to set `crypto key token name organizr_token_<uuid>` to something like in this example:

[code]

Please confirm that you did that.

[2022-01-21 19:09] poperigby opened #10 "`auth provider returned error, user authorization failed` being spammed in Caddy log"
**Describe the issue**
I'm trying to migrate my config over to Caddy Security, and I think I have most things working now, but I'm getting this message constantly spammed in Caddy's log:
[code]
The interesting thing is, it doesn't seem to affect the functionality, because I'm able to login just fine.

**Configuration**
[code]

**Version Information**
[code]

**Expected behavior**
The Caddy log isn

[2022-01-21 19:12] greenpau commented on #10
@lumbo7332 , are you able to access media.haddock.cc after you went to https://auth.haddock.cc/logout ?

[2022-01-21 19:13] lumbo7332 commented on #10
Yes.

[2022-01-21 19:18] poperigby opened #11 "feature: Nextcloud OIDC support"
This is a continuation of https://github.com/greenpau/caddy-auth-portal/issues/227#. I think it would be a useful feature to be able to login to Nextcloud with Caddy Security account, and for Caddy Security to automatically create new Nextcloud users based on Caddy Security users. This can be done with OIDC, correct?

[2022-01-21 19:19] greenpau commented on #10
@lumbo7332 , are you saying the authorization is not working?

[2022-01-21 19:20] lumbo7332 commented on #10
No, the authorization appears to be working just fine.

[2022-01-21 19:20] johnpyp opened #12 "breakfix: Access token set without expiry, still gets 401, and doesn't redirect to provided auth url"
**Describe the issue**

After logging in at https://auth.MYDOMAIN.com, the auth portal sets a cookie without a Max-Age or expires attribute set, meaning it only lives as long as the session. Example set-cookie header in the response of `/oauth2/github/authorization-code-callback?code=OAUTH_CODE...` after logging in with github:
[code]

Also, the access token itself doesn't seem to work at all with

[2022-01-21 19:22] greenpau commented on #10
After you visit  https://auth.haddock.cc/logout, the portal should reset you cookies rendering you "unauthenticated". If after that you browse to "media.haddock.cc", I expect it to redirect you back to https://auth.haddock.cc/ (i.e. not to let you access it).

[2022-01-21 19:24] lumbo7332 commented on #10
Oh wait. I must have done something wrong before.
1. I went to https://auth.haddock.cc/logout
2. It showed me a login page.
3. I went to https://media.haddock.cc, but it didn't redirect me, and instead went to this url: https://media.haddock.cc/?redirect_url=https%3A%2F%2Fmedia.haddock.cc%2F

[2022-01-21 19:25] greenpau commented on #11
@lumbo7332 , yes, you need to setup the OIDC provider in the Nextcloud. Basically, it follows OAuth mode.

You would need to create "bypass" for anything that required for the OIDC provider.

[2022-01-21 19:29] johnpyp commented on #12
It seems that adding this makes the authorization work properly and I no longer receive 401s,
[code]
from the example config given in this similar issue https://github.com/greenpau/caddy-security/issues/10

[2022-01-21 19:29] greenpau commented on #12
@johnpyp, are you able to authenticate to the portal and browse to "/whoami" endpoint, i.e. `https://auth.{$DOMAIN}/whoami`?

If yes, please paste the JSON you see there.

[2022-01-21 19:29] lumbo7332 commented on #11
I need to setup the OIDC provider in Nextcloud? I thought it was the other way around. And for finding what to add bypasses for, should I use my browser's DevTools and see what is being blocked? Some elaboration on that part would be much appreciated.

[2022-01-21 19:31] greenpau commented on #10
@lumbo7332, That strange. Let me confirm. Looks like a bug in the redirect.

[2022-01-21 19:31] lumbo7332 commented on #10
Thanks :slightly_smiling_face:

[2022-01-21 19:32] johnpyp commented on #12
Actually, it seems that that order block has made it so I can access any of my "protected" services without auth...

[2022-01-21 19:33] greenpau commented on #11
@lumbo7332 , yes, you set up Nextcloud instance to be OIDC provider, i.e. it stores usernames/passwords and provides login form.

[2022-01-21 19:35] greenpau commented on #12
@johnpyp , what about if you just keep the following?

[code]

[2022-01-21 19:36] greenpau commented on #12
@johnpyp , please remove the ordering for now.

Change:

[code]

To:

[code]

[2022-01-21 19:43] johnpyp commented on #12
@greenpau Removing all the ordering and changing the authorize block to the route doesn't throw any ordering errors, but still exhibits the same behavior. (401, not setting max-age, improper redirect)

[2022-01-21 19:44] greenpau commented on #12
@johnpyp , let me recreate it.

[2022-01-21 19:44] MVethana commented on #9
Yes I have, can confirm that crypto key verify and crypto key token name are the correct values, the exact same key verify and name was used yesterday working with caddy-authorize and I checked again to confirm nothing had changes and they are both still correct

[2022-01-21 20:04] greenpau commented on #9
@MVethana , confirmed bug with validator.

[2022-01-21 20:05] greenpau commented on #12
@johnpyp , confirmed bug with validator. Working on a fix.

[2022-01-21 20:06] greenpau commented on #10
@lumbo7332 ,  confirmed bug with validator. Working on a fix.

[2022-01-21 20:23] lumbo7332 commented on #11
Oh okay. And what about setting up the bypasses? I'm still a bit confused on how to do that.

[2022-01-21 20:35] lumbo7332 commented on #11
By being rerouted to a certain endpoint?

[2022-01-21 20:42] greenpau commented on #11
@lumbo7332 , you are attempting to authenticate. The portal sends you to the nextcloud server. The nextcloud server has `authorize` in place, so you never get to nextcloud server (and never get authenticated).

So, say nextcloud has OIDC endpoint `/oidc/*`. You create a `bypass uri prefix /oidc/` and then the `authorize` will not block that traffic.

Next, you get to `/oidc/provider.html`.

The HT

[2022-01-21 20:46] lumbo7332 commented on #11
Okay I think I understand. And I should still be using the `nextcloud_oauth2_backend`? Is that a custom backend for working with Nextcloud's OAuth?

[2022-01-21 20:51] greenpau commented on #11
@lumbo7332 , first, work on setting up Nextcloud OIDC provider. You want Nextcloud to serve: `.well-known/openid-configuration` file.

it should output similar output: https://swagger.io/docs/specification/authentication/openid-connect-discovery/

instead of `https://example.com/authorize`, it would likely be `https://<NEXTCLOUD_SERVER>/authorize`

[2022-01-21 20:57] lumbo7332 commented on #11
Okay. I'm still a little bit confused why Caddy Security isn't the provider. I'm looking at the docs for the [Nextcloud OIDC app](https://github.com/pulsejet/nextcloud-oidc-login), and it seems to want the SSO app to be the provider. It also fundamentally doesn't make sense to me. Why would you want the thing you're trying to login to provide your credentials? Or am I looking at this the wrong way

[2022-01-21 21:01] greenpau commented on #11
The https://github.com/pulsejet/nextcloud-oidc-login is not what you need. It is "login to nextcloud through keycloak (OIDC provider".

You need "login to caddy throught nextcloud"

[2022-01-21 21:03] lumbo7332 commented on #11
That's what I'm confused about. I wanted to login to Nextcloud using my Caddy Security user.

[2022-01-21 21:22] greenpau commented on #11
@lumbo7332 login or access?

[2022-01-21 21:24] lumbo7332 commented on #11
Login. So I can add a user to Caddy Security, and then they can login to Nextcloud without having to manually add another user on Nextcloud.

[2022-01-21 21:27] greenpau commented on #11
“access” means the following.

For example, i could have “authorize” plugin protecting nextcloud server. I authenticate to caddy auth portal, the I click the “Nextcloud” link and get redirected to authorize-protected Nextcloud server.

The authorize plugin validates my credentials and passes me to Nextcloud server via reverse proxy.

Nextcloud does not perform any authentication/authorization and

[2022-01-21 21:28] lumbo7332 commented on #11
Would that also create new users based on Caddy Security users?

[2022-01-21 21:29] greenpau commented on #11
this may sound like you want auth portal to be “OIDC provider”.

[2022-01-21 21:30] greenpau commented on #11
no, just assumes an identity.

[2022-01-21 21:30] lumbo7332 commented on #11
Can the auth portal be a OIDC provider? Because that's exactly what I want.

[2022-01-21 21:30] greenpau commented on #11
@lumbo7332 , in short you are asking for a feature where Auth Portal becomes OIDC provider for NextCloud.

[2022-01-21 21:32] lumbo7332 commented on #11
Yes.

[2022-01-21 21:38] MVethana commented on #9
@greenpau Any idea how long of an eta for a fix or is it better to revert back to caddy-authorize for now?

[2022-01-21 21:41] cceslick opened #13 "breakfix: Token used before issued"
**Describe the issue**

This is my first time using Caddy for any project.  I am attempting to provide Google authentication to internal websites.  I started a few days ago with caddy-auth-portal and today I converted it to caddy-security.  However, on both versions, I randomly get the error:

"failed validating OAuth 2.0 access token: OAuth 2.0 failed to parse id_token: Token used before issued"

[2022-01-21 21:45] greenpau commented on #9
@MVethana , another 30 mins.

[2022-01-21 21:47] greenpau commented on #13
@cceslick , this is a bug. releasing shortly.

[2022-01-21 22:29] greenpau commented on #13
Released fix in https://github.com/greenpau/caddy-security/releases/tag/v1.0.2

Please retest and re-open if necessary.

[2022-01-21 22:32] greenpau commented on #12
@johnpyp , released fix in https://github.com/greenpau/caddy-security/releases/tag/v1.0.2

Please retest and re-open if necessary.

Do not use `order`, use `routes`. See https://gist.github.com/greenpau/6abb58bf7b523210c39c8138c6a6417f

[2022-01-21 22:32] greenpau commented on #9
@MVethana  , released fix in https://github.com/greenpau/caddy-security/releases/tag/v1.0.2

Please retest and re-open if necessary.

Do not use `order`, use `routes`. See https://gist.github.com/greenpau/6abb58bf7b523210c39c8138c6a6417f

[2022-01-21 22:33] greenpau commented on #10
@lumbo7332  , released fix in https://github.com/greenpau/caddy-security/releases/tag/v1.0.2

Please retest and re-open if necessary.

Do not use `order`, use `routes`. See https://gist.github.com/greenpau/6abb58bf7b523210c39c8138c6a6417f

[2022-01-21 22:53] johnpyp commented on #12
@greenpau Thanks, it seems like the auth and redirect part of the bug have been fixed. The expiry/max-age bug seems to still be present though as far as I can tell, as in the max-age is unset and so the browser just makes it "Session".

[2022-01-21 22:54] greenpau commented on #12
@johnpyp , please explain this again. I am not sure I understood it.

[2022-01-21 22:55] #1 closed

[2022-01-21 22:58] greenpau commented on #1
@ziyaointl , changed! Will be available next release.

---

❗ 💭  Please consider **promoting this project** on social media (Twitter, LinkedIn, HN), **sponsoring the project** (every $1 matters, because it means you vested!), and **starring it** ⭐ ⭐ ⭐ !

[2022-01-21 23:05] johnpyp commented on #12
What I mean is the `Set-Cookie` header for the `access_token` cookie, from the response of the `authorization-code-callback` route, doesn't include an `Expires` or `Max-Age` attribute. This makes it so that browsers think the cookie is a session-only cookie and such will wipe it upon restart of the browser, or if you restart the caddy server and navigate to the auth route, it will wipe it too (I'm

[2022-01-21 23:32] ziyaointl commented on #1
This is awesome, thank you!

[2022-01-21 23:34] greenpau commented on #12
@johnpyp , looking 👀 into it right now!

[2022-01-21 23:50] greenpau commented on #11
@lumbo7332 , will think how to accomplish this.

[2022-01-22 00:58] greenpau commented on #12
@johnpyp , please try setting “cookie lifetime” and let me know if you see better results. https://authp.github.io/docs/authenticate/auth-cookie

[2022-01-22 01:06] greenpau commented on #12
@greenpau , please note that “cookie lifetime <seconds>” is not the same as “crypto default token lifetime <seconds>”.

you could have jwt token that expires every 15 minutes, but http cookie having max age 15 day.

The unauthorized user redirect takes into the account the expired cookie when determining where to redirect. You can achieve flawless SSO (user never have to click anything)z

[2022-01-22 01:09] #12 closed

[2022-01-22 02:26] MVethana commented on #9
@greenpau Still seems to be an issue on my end, tried a couple different things following the gist and still not working, can confirm I am using routes aswell. Let me know what you need to debug this further

[2022-01-22 02:36] greenpau commented on #9
Please post you full config in a gist. Share via email.

[2022-01-22 02:37] lumbo7332 commented on #11
Thank you!

[2022-01-22 02:42] MVethana commented on #9
Sent

[2022-01-22 02:43] johnpyp commented on #12
Ah I see, in that case what would cause the user to be logged out when the caddy server is restarted? Is there some login state that's only held in memory?

[2022-01-22 02:54] lumbo7332 commented on #10
That fixed the redirection, thank you. Why should I be using `route` over `order`?

[2022-01-22 02:55] greenpau commented on #11
Someone else asked for it too. I never got to it. I think now is the time.

[2022-01-22 02:57] greenpau commented on #12
@johnpyp , yes ;-) and the expired (but valid) jwt token in non-expired cookie would provide a clue as to how the user originally authenticated.

[2022-01-22 03:00] greenpau commented on #10
It gives you more control. With the “order” you might get a variable match, e.g. authorization might fail but reverse proxy still allows one to access a resource.

[2022-01-22 03:05] lumbo7332 commented on #10
Got it. Also, the redirection is fixed, but I'm still getting these errors, when going to media.haddock.cc:
[code]
`Caddyfile`
[code]

[2022-01-22 03:18] greenpau commented on #10
@lumbo7332 please try changing all to “authorize * with mypolicy” and see if it make a difference. I wonder whether the “*” matcher will make a difference with reverse_proxy.

[2022-01-22 03:24] lumbo7332 commented on #10
Nope. That started spamming the original error message again.

[2022-01-22 03:49] greenpau commented on #10
Will try getting to it tomorrow! Thank you for sponsoring the project! :-)

[2022-01-22 05:28] lumbo7332 commented on #10
No problem! I really appreciate you being so helpful!

[2022-01-22 10:06] tetricky commented on #8
Will you open source the Dockerfile, to allow for a self-build of the container (excuse me if this is here somewhere, but I can't find it). This will allow for the potential of further customisation, and audit, which is important to me when concerned with operation of a security level. One of my reasons for using this project, rather than something more comprehensive...it's easier to read and unde

[2022-01-22 14:29] MVethana commented on #9
@greenpau I've narrowed it down and it makes no sense to me, the config I sent to you does not work with caddy-security on its own, however the moment I add caddy-security & caddy-trace together without even including a "trace tag=" in the route, config works as expected. Is caddy-trace required with caddy-security now? Or is this a bug?

[2022-01-22 14:45] MVethana commented on #9
@greenpau To make sure I am not going crazy, redownloaded caddy, one with just caddy-security, one with caddy-security & caddy-trace, I copied and pasted the config from the gist I sent you last night and am using that with my `crypto key verify` added back, nothing else has been changed

Only with caddy-trace added does the config work, even though I have no trace tag in the config

[2022-01-22 14:46] greenpau commented on #9
Idk yet. Let's tackle one issue at a time. Add "debug on" above security. Then, so the trace with logs and let's see what is working.

[2022-01-22 14:48] greenpau commented on #9
this could be an issue with the download builds, i.e. unrelated to the security app.

[2022-01-22 14:53] MVethana commented on #9
Just emailed you a gist of the config working with security and trace installed with trace tag="overseerr", let me know what else you need

[2022-01-22 14:54] greenpau commented on #9
@MVethana , side note. Previously when trace was enabled I saw tokenzr cookies appear twice (each of them) in a request.

[2022-01-22 14:59] MVethana commented on #9
Tokenzr?

[2022-01-22 15:02] greenpau commented on #9
@MVethana , disregard the above for now. I looked at the logs without trace and I see ACL hots saying the traffic is allowed.

what is not working right now?

[2022-01-22 15:03] MVethana commented on #9
The gist I sent you works as intended, removing the trace tag and removing caddy-trace results in this config not working.

[2022-01-22 15:09] greenpau commented on #9
@MVethana ,  please create non-working serup. please email me the gists of the following

1. output of caddy list-modules -versions
2. Caddyfile
3. Logs with debug enabled

[2022-01-22 15:15] MVethana commented on #9
That was it, when downloading caddy from the website with the features selected, downloading trace and security gives, 1.0.2 whereas downloading security standalone provides 1.0.1

[2022-01-22 15:16] MVethana commented on #9
Caddyserver.com says it is providing version latest but clearly the old one is still cached somehow

[2022-01-22 15:17] MVethana commented on #9
Downloading a different combination of caddy-security and caddy2-filter also results in the site providing 1.0.1 instead of 1.0.2

[2022-01-22 15:22] greenpau commented on #9
@MVethana , let’s consider this issue closed. Please goto caddy.community forum and ask for help with the Download page.

you could also specify version number in the input box next to plugin name when downloading from caddy website.

[2022-01-22 15:22] #9 closed

[2022-01-22 15:34] greenpau opened #14 "help: show your appreciation"
Please show your appreciation for this work:

1. Promote caddy-security on social media (Twitter, LinkedIn, HN)
2. Star caddy-security ⭐ ⭐ ⭐
3. Sponsor @greenpau to develop new features!

[2022-01-22 15:35] greenpau commented on #9
@MVethana , please see https://github.com/greenpau/caddy-security/issues/14#issue-1111599735

[2022-01-22 19:28] greenpau opened #15 "feature: create custom auth portal docker image"
The current [Dockerfile](https://github.com/greenpau/caddy-security/blob/main/assets/docker/authp/Dockerfile),
uses `caddy:builder` image.

I want to have auth portal image based on `scratch` image.

[2022-01-22 19:29] greenpau commented on #8
That's done! The [authp](https://github.com/greenpau/caddy-security/pkgs/container/authp) package.

[code]

@tetricky , no there is none.

[2022-01-22 19:29] greenpau commented on #8
Opened https://github.com/greenpau/caddy-security/issues/15 to track the development of the new auth portal image.

[2022-01-22 19:29] #8 closed

[2022-01-22 19:30] greenpau commented on #2
@calebcoverdale , please provide your current Caddyfile.

[2022-01-22 20:48] greenpau commented on #2
@calebcoverdale , please create a new doc for Azure OAuth integration with screenshots by clicking the link below. This way it is a 2-way street.

https://github.com/authp/authp.github.io/edit/main/docs/authenticate/oauth/81-backend-oauth2-0009-azure.md

[2022-01-22 20:52] greenpau opened #16 "feature: add user management page"
Add "User Management" page where users with the role "admin" or "superadmin" can view the users in the plugin's local database.

[2022-01-22 20:53] greenpau opened #17 "feature: add password reset link"
An administrator may allow a user to reset the password. For that purpose, the admin will create a one-time use link, the user would follow for the password reset.

[2022-01-22 20:53] greenpau opened #18 "feature: Issue PASETO tokens instead JWT by default #182"
**Background**

The `Authenticator.grantAccess` function is responsible for the issuing of signed
tokens to authenticated and authorized users. The function is also responsible
for the adding of sessions into the session cache.

The `grantAccess` issues an already generated token. It is being stored
in `usr.Token`.

The following functions invoke `grantAccess()`:

* `Authenticator.authorizeLoginRe

[2022-01-22 20:54] greenpau opened #19 "feature: throttle sandbox authentication requests"
Implement controls against:
1. Password spray attack (track by source IP address)
2. Password brute-force attack (track by user identity)

Upon the detection of the above attack, the offending IP/identity should be blocked for a period of time, e.g. 15 minutes.

[2022-01-22 21:00] greenpau opened #20 "feature: push notification security challenge for Microsoft Authenticator"
Implement security challenge of type `push`.

A user provides a username/email at the `login` screen. Then, the user is redirected to `sandbox`. In the sandbox, the user land on "Push Notification" page. That would trigger Approve/Decline screen on the user's phone screen. The page would continue polling the sandbox endpoint for the status of the push notification.

The transform that would trigge

[2022-01-22 21:02] greenpau opened #21 "feature: add shortcut and docs for oauth keycloak integration"
1. Create a shortcut for `keyclock` (similar to https://authp.github.io/docs/authenticate/misc#shortcuts)
2. Document the integration in under https://github.com/authp/authp.github.io/tree/main/docs/authenticate/oauth

[code]

to:

[code]

See https://github.com/greenpau/caddy-auth-portal/issues/215

[2022-01-22 21:03] greenpau opened #22 "feature: iOS/Android App Authentication"
1. User opens iOS app and the user is not authenticated
2. iOS app generates a random code (100+ characters long) called `dropbox_code`
3. iOS app must support [UniversalLinks](https://developer.apple.com/library/archive/documentation/General/Conceptual/AppSearch/UniversalLinks.html)
3. iOS app opens a browser to `http://<auth_portal_base_url>/login?otp_code=<random-code>&app_link=<universal_link>

[2022-01-22 21:05] greenpau opened #23 "feature: connected accounts with LDAP, OAuth, SAML"
Scenarios
1. A locally-authenticated user browses to "Connected Accounts" tab in "Portal Settings".
There, the user may click a button to associate OAuth account (Google, Facebook, etc.) with the local user account.
2. A user signs in with OAuth and lands on "portal" page. There, the user has an option to create an account in local user database.

In `local` database, add a list of maps.
* For LDA

[2022-01-22 21:08] calebcoverdale commented on #2
On Monday I'll redo the manual on how to configure it. I may have one leftover from when I created a doc for myself a few months ago.

Anything you need regarding Azure, keep me posted. I can test/get you screenshots and/or GIFs.

[2022-01-22 21:12] greenpau commented on #2
@calebcoverdale , awesome! 👍

WGLL is this page:  https://authp.github.io/docs/authenticate/saml/azure

The images should go into `docs/authenticate/oauth/images` and have the following prefix `oauth2_azure_`.

[2022-01-23 00:30] poperigby opened #24 "question: Keeping users logged in longer?"
I'm a bit confused on how to keep users logged in for longer. I set my `cookie lifetime` to 1440, and it definitely wasn't lasting that long. I would just get booted from my services and have to login again every once in a while.

[2022-01-23 00:38] greenpau commented on #24
@poperigby , please create a gist of your Caddyfile and share it here.

The “cookie lifetime” is the max lifetime of a cookie in a browser cache. It should be send to something like 8 hours.

The “crypto key lifetime” is the lifetime of the JWT token inside the cookie. That is set to 15 minutes by default.

You probably want to keep the “crypto key lifetime” as is, but set cookie lifetime to days.

[2022-01-23 06:31] poperigby commented on #24
[Here](https://gist.github.com/poperigby/2cfda4908457d203cbe737ad9218e829)

The thing is, even when I set it to 24 hours, it definitely wasn't lasting that long.

[2022-01-23 15:22] helmut72 opened #25 "caddy reload gives an error"
**Describe the issue**

Using now caddy-security. It starts fine, but I get this error after `caddy reload`.

[code]

**Configuration**

Caddyfile

[code]

auth.conf

[code]

whoami.conf

[code]

**Version Information**

Caddy 2.4.6

**Expected behavior**

No errors :)

[2022-01-23 15:23] greenpau commented on #25
@helmut72 , please post Caddyfile for review.

[2022-01-23 15:25] greenpau commented on #25
@helmut72 , caddy module list too.

[2022-01-23 15:28] greenpau commented on #25
@helmut72 , will fix it today.

[2022-01-23 15:34] helmut72 opened #26 "Wrong SMTP port"
Your SMTP examples uses TCP 993 for SMTP, but this is IMAP (SSL). SMTP is TCP 25 (insecure or Start TLS), TCP 465 (SSL) or TCP 587 (insecure or Start TLS).

Please also provide informations how to configure insecure, SSL and Start TLS modes.

One example:
https://raw.githubusercontent.com/greenpau/caddy-security/main/README.md

Thank you

[2022-01-23 15:35] helmut72 commented on #25
Thanks :)

Here is the list if it's still important:

[code]

[2022-01-23 15:35] greenpau commented on #26
@helmut72 , thank you for opening this issue! Currently, I implemented the storage for credentials. The SMTP is actually not yet implement. Nevertheless, this issue is timely! 👍

[2022-01-23 15:39] helmut72 commented on #26
Oh, ok. I just read the example configurations and after read TCP 993 a 2nd time I thought to create an issue ;) Now I'm glad I never tried it ;)

[2022-01-23 21:02] poperigby commented on #10
Do you mind re-opening the issue?

[2022-01-23 21:12] greenpau commented on #10
@poperigby , sure.

1. please add “order authorize before reverse_proxy”
2. Remote default routes, i.e. “route {“
3. Replace “ authenticate * with myportal” with “ authenticate
  with myportal”
4. Create gist with caddyfile, logs, and output of caddy list-module

[2022-01-23 21:13] greenpau commented on #10
@poperigby , pleas enable debug too.

[2022-01-23 21:17] poperigby commented on #10
Do you mean **remove**, or am I misunderstanding?

[2022-01-23 21:58] greenpau commented on #10
do not use them in this particular config. E.g.

foo.haddock.cc {
        authorize with mypolicy
        reverse_proxy bar
}

For authenticate and authorize

[2022-01-23 22:05] poperigby commented on #10
I'm guessing I should order `authenticate` as well? I'm getting this error:
[code]
[Caddyfile](https://gist.github.com/poperigby/7238c03406f63e75c4c09fb9cd4a444b)

[2022-01-23 22:08] greenpau commented on #10
@poperigby , yes. try:

[code]

Please create a "secret" gist with the logs and send me the link over email.

[2022-01-23 22:46] greenpau commented on #10
@poperigby , I got the logs. I will release a new version of `caddy-trace` (current `trace` version would not work). You would need to enable it in this fashion.

[code]

Will ping you back when ready.

[2022-01-23 22:55] greenpau commented on #10
@poperigby , actually, the current version works. Compile the binary with `caddy-trace` and add the following:

[code]

Add the trace directive to all your "authorized" endpoint. Please send me "secret" gist over email.

[2022-01-23 22:59] poperigby commented on #10
Sure thing.

[2022-01-23 23:12] greenpau commented on #10
@poperigby , please uncomment the lines with `{env.JWT_SECRET}` in the config and re-upload trace log. I want to see whether having HS keys would make a difference.

[2022-01-23 23:15] poperigby commented on #10
I haven't generated a JWT secret, and what looks to be the docs for generating one is a dead link: https://github.com/greenpau/caddy-authorize#token-verification

[2022-01-23 23:18] greenpau commented on #10
@poperigby , just put any string that would match between the two references. If you don't have shared keys, the keys will be auto-generated for you. I want to see whether shared keys work. If they do, then I will look into auto-generation code.

[code]

[2022-01-23 23:18] greenpau commented on #10
The docs are here: https://authp.github.io/docs/authorize/token-verification

[2022-01-23 23:22] poperigby commented on #10
Okay I got it. Sent it to you.

[2022-01-24 00:58] greenpau opened #27 "feature: handling user authorization failed"
Currently, whether a user was previously authorized or whether the user wasn't authenticated, the user would get the same error:

[code]

There is a need to have different messages send to caddy.

[2022-01-24 01:29] greenpau commented on #25
@helmut72 , please try the [latest](https://github.com/greenpau/caddy-security/releases/tag/v1.0.4) release.

[2022-01-24 01:29] #25 closed

[2022-01-24 01:33] greenpau commented on #24
@poperigby , set the following. That would keep session up for an hour, while keeping your cookie alive for 2 hours.

[code]

Want to keep it alive for a day?

[code]

[2022-01-24 01:33] #24 closed

[2022-01-24 07:25] helmut72 commented on #25
Thank you, it works. But now opening another issue soon ;)

[2022-01-24 07:34] helmut72 opened #28 "LDAP doesn't work"
**Describe the issue**

LDAP doesn't work. I got this problem when starting or reload a config with LDAP included:

[code]

**Configuration**

[code]

**Version Information**

Provide output of `caddy list-modules -versions | grep git` below:

[code]

**Expected behavior**

LDAP should work. Same LDAP config worked with old auth-portal.

[2022-01-24 13:19] #28 closed

[2022-01-24 13:24] greenpau commented on #28
@helmut72 , release [v1.0.5](https://github.com/greenpau/caddy-security/releases/tag/v1.0.5). Thank you for opening the issue 👍

[2022-01-24 18:01] poperigby commented on #11
@greenpau just to clarify, do you mean you'll be adding support for Caddy Security to be an OIDC provider?

[2022-01-24 18:12] greenpau commented on #11
Yes. Just like Google, Facebook, Github, Gitlab, etc.

[2022-01-24 18:18] poperigby commented on #11
Great! Thanks!

[2022-01-24 18:35] cceslick commented on #13
Thanks for the speedy fix. How often are new releases added to https://caddyserver.com/download?  I downloaded a fresh copy and it is still at 1.01.  I can set up Docker if necessary.

Thanks again.

[2022-01-24 18:42] greenpau commented on #11
@poperigby , I will be opening a separate issue for the feature.

[2022-01-24 18:42] #11 closed

[2022-01-24 18:43] greenpau opened #29 "feature: auth portal as OIDC Provider"
Auth Portal can be OIDC Provider/Server.

[2022-01-24 18:43] greenpau commented on #11
Added https://github.com/greenpau/caddy-security/issues/29

[2022-01-24 18:45] greenpau commented on #13
It is automatic. Specify the version and you should be good to go.

![image](https://user-images.githubusercontent.com/3826416/150844654-01c91b58-53c1-4ec2-bb06-0a5b8772eb06.png)

[2022-01-24 18:47] greenpau commented on #13
@cceslick , the latest docker image is: https://github.com/greenpau/caddy-security/pkgs/container/authp

![image](https://user-images.githubusercontent.com/3826416/150844903-fcfea302-74f9-431d-b578-cb6e983a1124.png)

[2022-01-24 18:54] cceslick commented on #13
If I type in 1.0.5 manually it gives me a "build failed" error
![Capture](https://user-images.githubusercontent.com/97980320/150845907-01ced258-6d8c-4e62-aaeb-065880b951fa.JPG)
.

[2022-01-24 19:04] greenpau commented on #13
@cceslick , what happens when you try the download links over here? https://github.com/greenpau/caddy-security#getting-started

![image](https://user-images.githubusercontent.com/3826416/150847286-eaea3473-5c0c-45a1-b6c6-13f62a10e91d.png)

Perhaps there is an issue with the Download page.

[2022-01-24 19:40] cceslick commented on #13
The link worked.  Build-info reports 1.0.5.  It looks like you have to include the "v" (e.g. "v1.0.5") to get the specific version.

Unfortunately, I am still getting the "token used before issued" error.  I cleared my cache and reloaded the web browser first.

[2022-01-24 19:50] greenpau commented on #13
@cceslick, did you verify that the clock is being synchronized with UTC?

Are you able to login and browse to /whoami in the authentication portal?

[2022-01-24 19:56] helmut72 commented on #28
Works, thank you :)

[2022-01-24 20:07] poperigby commented on #24
Thanks.

[2022-01-24 20:52] cceslick commented on #13
As far as I can tell, the clocks between server and client are within ~100ms.  When it works, I am able to go to /whoami.  I've logged in and out a dozen times in the last few minutes and it has worked every time.  The server did a time sync about an hour ago, and the previous one was on Friday when I did a manual sync.  Earlier today it wouldn't work at all, and last week it would work and then n

[2022-01-24 21:04] cceslick commented on #13
Whoami shows that the "not_before_utc" time is one minute before the "issued_at_utc" which should be enough leeway.  Maybe I wasn't paying attention and ran the old version?  I'll keep checking the time sync.  This is a Windows virtual machine, which might be related to the problem.

[2022-01-24 22:17] greenpau commented on #13
@cceslick , please share the text of the /whoami.

[2022-01-24 22:20] greenpau commented on #26
@helmut72 , do you happen to have SMTP server that I could use for testing?

[2022-01-24 22:48] cceslick commented on #13
[code]

[2022-01-24 23:13] greenpau commented on #13
@cceslick I misinterpreted the above error. This is being the issue with the token you get from Google (not the token you access the portal).

https://github.com/greenpau/go-authcrunch/blob/b79f26580ef7ca654d48af51a06428a368eac62a/pkg/authn/backends/oauth2/validator.go#L38-L59

This is normal behavior.

Does it impact your authentication flow?

[2022-01-24 23:15] #10 closed

[2022-01-24 23:18] greenpau commented on #10
@poperigby , after the upgrade to [v1.0.6](https://github.com/greenpau/caddy-security/releases/tag/v1.0.6) you should see log messages identifying source ip address and, if available, user metadata.

[code]

[2022-01-25 11:56] helmut72 commented on #26
I'm not allowed to share this mail server, but I can test your code against this server and give you log files from the server asap. Insecure connections are disabled from the Internet for security reasons, but I'd enable it temporary for tests in the private LAN.

For common testing you can use every mail provider like Gmail, outlook.com which supports SMTP. Nearly all supports SMTP.

[2022-01-25 15:11] ainesophaur opened #30 "question: x509 authentication"
First, but unrelated to the topic, thank you for all of your amazing projects. I recently came across the thread which inspired you to write caddy-git, and your candor and contributions to the community are such a breath of fresh air.

Back on topic :)

I came across the [x509 authp document](https://authp.github.io/docs/authenticate/x509/x509) which has a TODO. Which I wasn't sure if it was a TOD

[2022-01-25 15:57] greenpau commented on #30
@ainesophaur , thank you for the kind words 👍  please consider https://github.com/greenpau/caddy-security/issues/14#issue-1111599735

There are two types of possible x509 implementation.
1. Session-based (TLS) at the connection level
2. App-based at the HTTP app level.

The one I had in mind for Caddy is the "app-based". A user goes to portal, inputs username/email, gets dropped to "sandbox", and

[2022-01-25 15:58] cceslick commented on #13
When it occurs, authentication fails with "unauthorized."  I'll see if there is anything that can be done to improve clock sync and continue to test.

[2022-01-25 16:14] greenpau opened #31 "feature: add support for True-Client-IP header"
Currently, the portal relies upon XFF header to determine the true client ip address. However, Cloudflare has a different approach.
https://support.cloudflare.com/hc/en-us/articles/206776727-Understanding-the-True-Client-IP-Header

This issue track the development of support for Cloudflare's True-Client-IP header

[2022-01-26 20:30] glubii opened #32 "feature: LDAP support for GLAuth schema"
Thank you for this awesome project, unfortunately I am having some issues with getting it to run with an LDAP backend:

**Describe the issue**

An attempt to log in over Caddy Security with an LDAP backend consisting of glauth-ui for management and glauth (https://github.com/glauth/glauth) as the LDAP provider fails with right credentials. The credentials were succesfully used by other means of co

[2022-01-26 20:46] greenpau commented on #32
@glubii , thank you for opening the issue! 👍

Please consider https://github.com/greenpau/caddy-security/issues/14#issue-1111599735

Do you have a setup that you can share with me over email (greenpau@outlook.com)? Alternatively, please describe a way to stand up the `glauth` instance (don't have time to read through the doc at the moment)?

Generally speaking, this might require adding a feature

[2022-01-26 20:47] greenpau commented on #32
@glubii , I am reading https://github.com/glauth/glauth#quickstart and it looks easy. If you have an existing setup, that would be easier 😄

[2022-01-26 20:54] glubii commented on #32
Thanks for the quick response! I'll set up a minimal setup for docker compose tonight if that would be an acceptable way of sharing it

[2022-01-26 20:58] greenpau commented on #32
@glubii , no need. Will compile it myself. Will get to it this week, hopefully.

[2022-01-26 21:01] AngryJKirk opened #33 "breakfix: Custom css path seems not working"
**Custom css path does not work**

Today I updated from caddy-auth-portal to caddy-security. Everything is fine except for `custom css path` directive.
I haven't changed it this time in any way and followed the documentation.
In the developer console /auth/assets/css/custom.css returns 404
No errors in caddy's log.

**Configuration**

[code]

**Version Information**

[code]

**Expected behavior**

[2022-01-26 21:18] greenpau commented on #33
@AngryJKirk , thank you for the issue! 👍 I will take a look.

[2022-01-26 21:40] bogosj opened #34 "question: Environment variables in Google OAuth example"
I want to set up Google OAuth in front of various services in my existing Caddy set up. Looking through the example file:
https://github.com/authp/authp.github.io/blob/main/assets/conf/oauth/google/Caddyfile

What is `JWT_SHARED_KEY`?

Is the `(tls_config)` necessary? That appears to be using manual certs instead of Let's Encrypt?

https://assetq.myfiosgateway.com - I assume this should be like ht

[2022-01-26 21:46] greenpau commented on #34
@bogosj , thank you for the issue!

That is a [shared key](https://authp.github.io/docs/authorize/token-verification#verification-with-shared-secret). The `{env.JWT_SHARED_KEY}` is the `{env.<ENV_VAR}` placeholder described [here](https://caddyserver.com/docs/conventions#placeholders).

It is not necessary if you are using Let's encrypt.

Yes.

Correct. You just need to keep in mind the [binding t

[2022-01-26 21:57] bogosj commented on #34
Thanks. For the shared key is the suggested method creating a random GUID/UUID?

[2022-01-26 22:29] greenpau commented on #34
@bogosj, random yes. GUID/UUID - no 😄 (because in theory it could be guessed), but it easier to explain it. I would say generate anything between 64-96 characters long.

If you are running everything on a single instance and you don't care about re-authentication about reboot, then don't specify any `crypto` directives and ECDSA keys would be automatically generated for you.

Separately, you could

[2022-01-26 22:56] bogosj commented on #34
I guessed at a GUID because at the top of the page you reference there's a shared key:

`crypto key verify 383aca9a-1c39-4d7a-b4d8-67ba4718dd3f`

[2022-01-26 23:10] glubii commented on #32
I uploaded a minimal setup, I used docker anyways since this was the fasted way to reproduce the issue, i hope that that's not an issue
Link: https://github.com/glubii/caddy-sec-glauth-example

[2022-01-26 23:22] greenpau commented on #34
@bogosj , that's correct 😄 I can't make up good passwords, so I resort to `uuidgen` 😃

[2022-01-26 23:26] bogosj commented on #34
I removed the crypto blocks as suggested. I kept getting an error that looked like:

`authorize is not ordered, so it cannot be used here`

Apologies, the docker container logs disappeared after re-building so I don't have an exact copy of it.

I added:

[code]

To the top of the global block and that seems to have fixed it.

[2022-01-26 23:40] greenpau commented on #34
@bogosj , 👍 I will update docs with these.

[2022-01-27 09:21] xpufx opened #35 "nginx style Forward Auth example."
Hello. https://github.com/caddyserver/caddy/issues/2894 is closed citing this project's existence. Nginx' auth_request directive (https://nginx.org/en/docs/http/ngx_http_auth_request_module.html) works with a simple HTTP response code. Is this kind of functionality available? If yes, can you please direct me to the relevant documentation.

Another question while we're at it. It seems caddy-securit

[2022-01-27 14:48] AngryJKirk commented on #33
@greenpau I created a [PR](https://github.com/greenpau/go-authcrunch/pull/1) fixing this issue

[2022-01-27 16:11] AngryJKirk commented on #33
Sorry, I am not a Go developer and probably would have hard times trying to write a good quality test for the first time :(

[2022-01-27 23:38] #5 closed

[2022-01-28 01:47] #33 closed

[2022-01-28 02:00] greenpau commented on #27
This is now resolved in [v1.0.7](https://github.com/greenpau/caddy-security/releases/tag/v1.0.7) The message identifies a user by IP, as well as by the provided metadata in a token.

[code]

[2022-01-28 02:00] #27 closed

[2022-01-28 03:10] greenpau commented on #34
@bogosj , after re-reading https://caddyserver.com/docs/caddyfile/directives

i am convinces that the order should be

[code]

[2022-01-28 14:17] bogosj commented on #34
Perhaps I'm misunderstanding but now that I read those docs shouldn't it be:

[code]

[2022-01-28 14:48] greenpau commented on #34
@bogosj , good question 👍 To answer it, one has to have some experience writing plugins for caddy, because I've never seen a doc explaining it.

**Authenticate**

The `authenticate` plugin is of `http.handlers` type.

https://github.com/greenpau/caddy-security/blob/8f1d6f6cd3151bf14f6f3000adb395735afe8b7f/plugin_authn.go#L47

This type of plugins perform `ServeHTTP` function.

https://github.com/g

[2022-01-28 14:54] greenpau commented on #35
@xpufx, please create `Caddyfile` that would work in your setup. After that I will modify it (with some directives) to do what you are asking here.

[2022-01-28 15:18] greenpau commented on #34
@bogosj , updates the configuration files in the docs with the `order` directives. Thank you for the issue! 👍 Please consider https://github.com/greenpau/caddy-security/issues/14#issue-1111599735

[2022-01-28 15:18] #34 closed

[2022-01-28 15:21] greenpau commented on #31
Sending to backlog for now.

[2022-01-28 15:21] #31 closed

[2022-01-28 15:33] greenpau commented on #32
**Notes**

Download:

[code]

Run the server:

[code]

Test connectivity:

[code]

Response:

[code]

[2022-01-28 15:35] daiaji opened #37 "question: Please tell me how to use the simplest Caddy configuration with HOTP?"
I glanced at the documentation for a while, and honestly it's so complicated that I didn't even find a simple example for configuring HOTP.

[2022-01-28 15:38] greenpau commented on #37
@daiaji , additionally, please see https://youtu.be/k8tbbffMGZk

[2022-01-28 15:39] greenpau commented on #37
There is no example, because it is automatic once you add your keys in the "Settings" page.

[2022-01-28 15:48] daiaji commented on #37
https://authp.github.io/docs/authenticate/local/local
Is that all there is to it? Let me try.

[2022-01-28 15:49] greenpau commented on #37
You create a link to browse to `/settings` page.

[code]

Full config: https://github.com/authp/authp.github.io/blob/main/assets/conf/local/Caddyfile

It is also references in https://authp.github.io/docs/authenticate/local/local

Nothing. You can optionally enforce all users to have MFA. It is done with `require mfa` directive. https://authp.github.io/docs/authenticate/mfa#enabling-mfa

However,

[2022-01-28 15:50] greenpau commented on #37
@daiaji , please watch the video about setting up local auth.  https://youtu.be/k8tbbffMGZk Once you passed that, you will have more clarity.

[2022-01-28 15:56] greenpau commented on #32
**Notes**

Based on the review of [sample-simple.cfg](https://github.com/glauth/glauth/blob/master/sample-simple.cfg), the `attributes` mapping follows:

[code]

[2022-01-28 16:09] greenpau opened #38 "feature: Internationalization (i18n)"
List of "translatable" works:

* `./pkg/authn/handle_http_sandbox.go`: Password authentication failed. Please retry

[2022-01-28 16:12] greenpau commented on #32
Next, step I removed `posix` keyword from the server configuration.

[code]

The above coupled with the attribute mapping got me to the password authentication screen.

On providing the `uberhackers` username, I get transferred to password authentication screen. I see the following messages in the GLAuth's log:

[code]

Next, I provider `dogood` password, and I get an error.

Portal's logs

[code]

[2022-01-28 16:39] xpufx commented on #35
@greenpau Thank you.

[code]

[2022-01-28 16:47] greenpau commented on #35
@xpufx , I don't know much about authentik. What is your OAuth provider? Is `authentik` play the role of auth provider?

[2022-01-28 17:04] greenpau commented on #32
**Notes**

The issue is occuring here:

[code]

Note how the `"name": "", "username": "", "email": ""` are all blank. They should be populated for the next stage to kick in.

[2022-01-28 17:23] xpufx commented on #35
Yes. It would basically provide the client id and secret.

[2022-01-28 17:25] greenpau commented on #32
Different user: `johndoe`

https://github.com/glauth/glauth/blob/e26219c2f402021df8cf7a1bbcfc0c5ba984590a/sample-simple.cfg#L75-L91

It has all the relevant parts.

[code]

[2022-01-28 17:32] greenpau commented on #32
Currently, I am getting the following error when authenticating with `johndoe`. I am using `dogood` password.

[code]

I get the following error in GLAuth logs:

[code]

[2022-01-28 20:23] greenpau commented on #35
@xpufx , here is the setup for this type of proxy. I tried keeping the names descriptive.

The OAuth provider in this case is Github.

Please note the Callback URL.

![image](https://user-images.githubusercontent.com/3826416/151614234-c8a538ff-2ebc-4386-9f23-b54583e6a7ac.png)

When you will be setting up authentic you would need to change the highlighted `github` to the realm you configure for thi

[2022-01-28 20:28] greenpau commented on #35
The `set auth url /authzproxy/oauth2/github/` would also change to the `realm` you would assign to the authentic OAuth.

[2022-01-28 20:38] #37 closed

[2022-01-28 20:52] xpufx commented on #35
Thank you. I will test and see if I can get it working.

[2022-01-28 21:04] greenpau commented on #35
First thing you need to do is getting a successful auth from “ /authzproxy/login”.

[2022-01-28 23:18] greenpau commented on #32
@glubii , at the moment, amend your config to match this https://github.com/greenpau/caddy-security/issues/32#issuecomment-1024353514

I got to the point of failed authentication without any code changes. I think the `BindDN should have only one or two parts` is something to do with GLAuth, which I think we will sort out shortly.

[2022-01-28 23:29] greenpau commented on #32
@glubii , also, in the meantime, you could get it all working with your users' DN are `cn=<username>,ou=<group>,$BASEDN`.

[2022-01-29 14:42] greenpau commented on #32
@glubii , the issue is almost resolved. After trying the binary in https://github.com/glauth/glauth/issues/252#issuecomment-1024861502, I was successfully authenticated.

Here is my config: https://github.com/authp/authp.github.io/blob/main/assets/conf/ldap/glauth/Caddyfile

It is based on the https://github.com/glauth/glauth/blob/master/sample-simple.cfg

Specifically, user `johndoe`.

For this t

[2022-01-29 14:42] #32 closed

[2022-01-29 16:06] greenpau commented on #26
@helmut72 , FYI, I am splitting email provider and credentials.

* https://authp.github.io/docs/credentials/intro
* https://authp.github.io/docs/messaging/intro

Got the port right this time! 😄

[2022-01-29 19:37] xpufx commented on #35
Hello greenpau. This was a bit confusing so I used the generic oauth2 configuration instead as a base. Below is my configuration. Both authentik and caddy-security are authenticating properly. However I keep going between authentik and caddy-security login (with the Generic oauth button).   Either my config is broken or authentik is not setting something caddy-security needs. I can't tell which. D

[2022-01-29 19:44] greenpau commented on #35
@xpufx , if you just go to auth portal, you are able to authenticate and see your identity, correct? Please provide screenshots.

also, you are seeing my identity and file server links, correct?

what is you authentik configuration? Specifically callback url? Please provide screenshots.

[2022-01-29 19:46] greenpau commented on #35
@xpufx , are you able to click the “File Server” link and browse to whoami server?

[2022-01-29 19:49] xpufx commented on #35
Actually no. I am not seeing a File Server link or a my identity link. What I am seeing is "Successful login" in the log.

[code]

[2022-01-29 19:52] greenpau commented on #35
@xpufx , when you click the button to login to authentik, what happens next? Web browser screenshot and trace would be helpful.

[2022-01-29 19:52] xpufx commented on #35
By the way the original topic of this issue was regarding whether caddy-security can implement the Forward Auth functionality of Nginx and Traefik as claimed by the caddy server authors.  I like the possibility of authenticating with Oauth/SAML but that's a much more complicated setup than what Forward Auth provides. (I fully realize forward auth is not something an idp should provide. It's a web

[2022-01-29 19:55] greenpau commented on #35
@xpufx , we are just troubleshooting here. If everything is being setup properly. The user who browsed to the file server, would be redirected to auth portal, to authentik, then back to auth portal, and back to the fileserver. The user never sees the auth portal interface.

[2022-01-29 19:56] greenpau commented on #35
I actually don’t like the “ "role":"authentikuser",”

[2022-01-29 19:56] greenpau commented on #35
It could be that the “role” messes up the “roles”

[2022-01-29 19:59] greenpau commented on #35
@xpufx , so you have “groups” and “role” being passed by the authentik. Need to check what would be the desired logic here.

the goal is to be able to login to portal and see the 2 links.

[2022-01-29 20:01] xpufx commented on #35
I had actually added that bit to the authentik side because I tried to get authentication working without using caddy-auth-portal as my authentication portal. I will remove it and see if that makes a difference.

[2022-01-29 20:07] greenpau commented on #35
@xpufx , basically, try not adding role or group for now.

I will look at the way to handle role, roles, and groups at the same time.

[2022-01-29 20:08] greenpau commented on #35
@xpufx , once we finish the troubleshooting, you will be able to add the groups in authentic and it will propagate to the token issues by the portal.

[2022-01-29 20:15] xpufx commented on #35
Here's some info from browser Developer Console and caddy logs.

Going to portal login, Generic icon shows. At this point the only interesting thing in the console is:

[code]
When I hit the Generic button it goest to authentik. (It's configured to redirect manually now when I hit continue)

[code]

Authentik also sets a csrf and session cookie but it shouldn't matter at this step.  Click continue

[2022-01-29 20:18] greenpau commented on #35
@xpufx , by the "login page," you mean the page with "Generic" button? If so, then you did not pass authentication.

I suspect the issue is with `groups`, `role`, and `roles` all being returned at the same time by the Authentik. Will look at it later today.

[2022-01-29 20:21] greenpau commented on #35
@xpufx , please keep your Authentik config intact for now. I will release a patch and see how your auth experience changes.

[2022-01-29 20:25] xpufx commented on #35
I already had a scope without groups set up (Dovecot xoauth2 doesn't like it) and used that instead. Here's the log for that. I don't need the groups as  I only need authentication now.

[code]

[2022-01-29 20:28] greenpau commented on #35
@xpufx , in auth portal config you have

[code]

it really should be

[code]

[2022-01-29 20:28] greenpau commented on #35
@xpufx , authentication = `sign-verify`, authorization = `verify`.

[2022-01-29 20:29] greenpau commented on #35
It does not eliminate the issue with groups/role/roles, but it is something to try.

[2022-01-29 20:33] xpufx commented on #35
No change in behavior I'm afraid. At this point authentik does not return any roles/groups.

[2022-01-29 20:48] xpufx opened #39 "Authorization against another idp without using caddy-security portal for identities"
@greenpau thank you for your help in getting an oauth based authentication working with caddy-security. It's a valuable configuration possibility and I hope we'll get that working with my setup.

Below is what I thought caddy-authorize could do easily when I first looked at the documentation and assumed from the fact that authorize used to be a completely separate module.

Basically a configuratio

[2022-01-29 20:51] greenpau commented on #35
@xpufx please email me the full log + create the logs of you browser.

[2022-01-29 20:54] xpufx commented on #35
Sure thing. I can also give you a temp user to see the headers yourself. How can I reach you? What's your email address?

[2022-01-29 21:00] greenpau commented on #35
@xpufx , I totally did not see that you deviated from my example.

Instead of `cookie domain whoami.MYDOMAIN.eu` , you should have:

[code]

My email is greenpau@outlook.com

[2022-01-29 21:03] greenpau commented on #35
The cookie is being issued by `caddyauth.MYDOMAIN.de` for the use in `MYDOMAIN.de` domain. The `whoami.MYDOMAIN.eu` here is FQDN.

[2022-01-29 21:05] xpufx commented on #35
I tried both there but that was before everything you told me to do in this thread so it might make a difference. By the way I am kind of confused about the domain. As you can see my domains are not the same .de vs .eu. Which domain is it? portal or my app ? (I will try both of course) Or maybe same domain is required/assumed?

[2022-01-29 21:08] xpufx commented on #35
OK with the cookie domain set to that of the portal I am able to now see My Identity and File Server (I didn't realize this was the name of my app until now :) ).   However now the loop moved elsewhere. I think I have to do some troubleshooting on the authentik side now before bugging you any further. I will hold off on sending you the logs since things will change.

[2022-01-29 21:09] greenpau commented on #35
@xpufx , good pointing me at `.de vs .eu`.

You cannot issue the cookie from `MYDOMAIN.de` to be used in `MYDOMAIN.eu`. That's not how browsers work.
A server in `MYDOMAIN.de` can only issue cookies in `MYDOMAIN.de` or without any domain (i.e. used only by that server).

[code]

In sum, please use this config: https://github.com/authp/authp.github.io/blob/main/assets/conf/oauth/authproxy/Caddyfile

[2022-01-29 21:12] xpufx commented on #35
I am aware of cross domain cookie requirements but I didn't know what it was doing in the context of this caddyfile. Of coures you're right. That's my bad. Thanks for pointing it out.

By the way somehow I saw MY Identity once but it's not working anymore. I will start again with the authproxy caddyfile.

[2022-01-29 21:22] greenpau commented on #35
@xpufx , basics first.

There are no 2 IdPs. There is 1 IdP - authentik. The portal play the role of an intermediary. Here, you are explicitly defining things in `portal`, because this is an expressive config. In this setup there is no "identity" lookup in the portal. It is just a passthrough.

[2022-01-29 21:23] greenpau commented on #35
@xpufx , with the portal [configured](https://github.com/authp/authp.github.io/blob/main/assets/conf/oauth/authproxy/Caddyfile), you will get the seamless redirects, plus accounting, plus the redirection back to where you were when the session ended.

[2022-01-29 21:25] greenpau commented on #35
@xpufx , there is even JS redirect: https://authp.github.io/docs/authorize/auto-redirect-url#javascript-redirect
when your URLs contains `#`, e.g. links to headings.

[2022-01-29 21:28] xpufx commented on #35
I understand. Thank you.  If I am understanding you correctly I am to use the proxy configuration for 'github' (The backend name seems to be significant and need to be supported in the code) but use my own sso url as the auth endpoint. Is this correct?

[2022-01-29 21:31] greenpau commented on #35
@xpufx , instead of `backend github {env.GITHUB_CLIENT_ID} {env.GITHUB_CLIENT_SECRET}`, add your configuration:

[code]

[2022-01-29 21:32] greenpau commented on #35
@xpufx , also change realm to `realm authentik`. For clarity.

[2022-01-29 21:36] xpufx commented on #35
Thank you. I am now realizing this is what you told me to do to begin with. I used the generic oauth config without realizing one was an intermediary proxy configuration while the other wasn't. Sorry about that. I am sure I'll be able to get this working now as I now have a clearer understanding of what is what. Thank you for taking the time with me to go over my config and providing the security

[2022-01-29 21:36] #35 closed

[2022-01-29 21:41] greenpau commented on #35
@xpufx , I am here for you 👍 For me this whole experience is a professional development journey. I study things by coding them. Obviously there are many angles to look at a problem and find a solution. That's why there are so many good projects out there, e.g. Authentik that you are using.

This particular project was build with an "expressive" nature in mind. I want a person to read a Caddyfile a

[2022-01-29 21:47] helmut72 commented on #26
Thank you. Will try it when it's ready to test 😊

[2022-01-29 21:51] xpufx commented on #39
Talking to greenpau I realized this is similar to the intermediary proxy configuration but Forward Auth is something else. It doesn't do any authentication but proxies the auth stuff to the idp. It only works on headers (maybe cookies?) and does not seem to need to set any shared keys, certs or secrets.

[2022-01-29 21:54] greenpau commented on #35
@xpufx , release https://github.com/greenpau/caddy-security/releases/tag/v1.0.10 where groups, group, role and roles are all combined into roles.

Try to get the portal running such that you get to the identity page and you see something similar to this.

![image](https://user-images.githubusercontent.com/3826416/151678735-2bfe9e43-9d93-4e4e-b669-56903059aa10.png)

[2022-01-29 21:54] xpufx commented on #39
I am closing the issue. @greenpau can you comment on the following on the closed issue when you get a chance.

I only posted this here and my other issue because Forward Auth as a feature is not supported by Caddy and the development team is referring people to caddy-security when that functionality is needed.  Proxy indermediary will take care of my current need. However, my understanding is that

[2022-01-29 21:54] #39 closed

[2022-01-30 20:31] poperigby opened #40 "breakfix: Caddy fails with `messaging provider config "sender_email" key is empty` after trying to update config for 1.0.10"
**Describe the issue**

Before update 1.0.10, my configuration was working fine, but now it throws this error:
[code]

I didn't see anything about this in the update notes, but I tried to adapt my configuration file to what seemed like two new sections in the README, [this](https://github.com/greenpau/caddy-security#credentials) and [this](https://github.com/greenpau/caddy-security#messaging). I t

[2022-01-30 20:32] greenpau commented on #40
@poperigby , please remove email provider and credentials from your config. I am still wiring up that part.

[2022-01-30 20:51] poperigby commented on #40
Ahh, okay. Thank you.

[2022-01-30 20:51] #40 closed

[2022-01-31 19:32] rubydotexe opened #41 "Using GitHub auth, I keep getting "error = Redirect_URI Mismatch" after using the github portal."
**Describe the issue**

I have no idea how to properly configure a call-back URL. I keep getting the same error over and over. I replaced my personal domain with example.com.

![image](https://user-images.githubusercontent.com/52940751/151858827-5b51f26f-eddc-4405-8ef9-e8d31dc791d6.png)

I have tried different combinations of callurls in the github app configuration but I get no success.  And I ge

[2022-01-31 19:39] greenpau commented on #41
@rubydotexe , you are serving the portal from the `/` (root) of `auth.example.com`. However, you are configuring it as if you are serving it from `/auth/`.

Solution: Change "https://auth.example.com:8443/auth/oauth2/github" to "https://auth.example.com:8443/oauth2/github" everywhere.

Let me know how it goes.

[2022-01-31 19:44] rubydotexe commented on #41
@greenpau  Absolute game changer. I feel very silly. Thank you so much for your fast response, Mr. Greenberg. My dnd group and I appreciate it.

[2022-01-31 19:50] greenpau commented on #41
@rubydotexe , there is nothing wrong with not knowing! There is everything wrong with not asking! You did the right thing 👍 Good luck! 🍀

[2022-01-31 19:50] #41 closed

[2022-01-31 19:55] greenpau commented on #41
@rubydotexe , sign up for my channel https://www.youtube.com/channel/UCNdBS4UnrknBm2SPENBHWUQ
I will be releasing a video about `authorize` plugin shortly. It might help you.

[2022-01-31 22:15] Connor22 opened #42 "feature: add IP logging to failed password login attempts"
"Password authentication failed. Please retry" error should also log the IP, not just the session_id/request_id, to allow software like Fail2Ban to work against brute force attackers.

[2022-01-31 22:17] greenpau commented on #42
@Connor22 , got it! Will add shortly.

Also, please watch https://github.com/greenpau/caddy-security/issues/19. It could be of interest to you.

[2022-01-31 22:27] #42 closed

[2022-02-02 01:03] greenpau commented on #42
@Connor22 , the changes are [caddy-security v1.0.12](https://github.com/greenpau/caddy-security/releases/tag/v1.0.12). Please test.

[2022-02-02 01:09] greenpau commented on #26
@helmut72 , I baked email notification on registrations in  the changes are [caddy-security v1.0.12](https://github.com/greenpau/caddy-security/releases/tag/v1.0.12). Please test.

Also, please see the config with registration and email provider.

https://github.com/authp/authp.github.io/blob/62d7ca642fafbb496168fd5c2ccc6ecf9bb5d392/assets/conf/local/registration/Caddyfile#L10-L22

https://github.

[2022-02-02 19:45] greenpau opened #43 "feature: multi-domain cookie configuration"
Let's say `authentication portal` serves 2 domains: `foo.bar` and `bar.baz`.

Currently, this requires to have separate portal instances.

This feature would allowing auto-discovering which cookie to issue/revoke based on the host the user is accessing.

Add Caddyfile directive:

[code]

This also paves the way to allow issuing **cross-domain cookies**, i.e. a user authenticates in domain `foo.bar

[2022-02-02 19:56] greenpau commented on #43
This requires modifying the following code.

- [ ] `GetCookie`

[code]

- [ ] `GetSessionCookie`

[code]

- [ ] `GetDeleteCookie`

[code]

- [ ] `GetDeleteSessionCookie`

[code]

[2022-02-02 23:16] abbekeff opened #44 "breakfix: bypass URI not working"
I want to bypass /api and some other paths from my policy

Before with caddy-auth I had this in my caddyfile; (worked fine)
[code]

Now with caddy-security Im trying to achieve the same thing, so I looked here:
https://authp.github.io/docs/authorize/bypass

[code]

This however does not work, the reverse proxy stops working after auth is done (shows a blank page), also log spams with:

`{"level":"

[2022-02-02 23:20] greenpau commented on #44
@abbekeff , please re-post your config after you ran formatting over it.

[code]

What is your current configuration for `qbit.website.com`?

Do you have `order` configured? (relevant explanation is https://github.com/greenpau/caddy-security/issues/34#issuecomment-1024293316)

[code]

[2022-02-02 23:30] abbekeff commented on #44
[code]

[2022-02-02 23:43] greenpau commented on #44
@abbekeff , please enable `debug` in global config and try debugging. Please email me the logs.

Also, for troubleshooting, please configure static keys:

[code]

[2022-02-02 23:46] greenpau commented on #44
@abbekeff , for troubleshooting, amend your ACL:

from:

[code]

To:

[code]

[2022-02-03 00:09] greenpau commented on #44
Also, try without `route`:

[code]

[2022-02-03 05:24] Matchlighter opened #45 "feature: snippets in caddy security configuration"
With the previous `caddy-auth-portal` and `caddy-auth-jwt` it was possible to setup a portal per-domain in separate files. This ability was useful to me since I use one Caddy instance to serve many apps, each with their own OAuth2 endpoint in my SSO. I've designed my Caddy config with one main Caddyfile that imports a directory of additional per-app Caddyfiles like so:
[code]
From what I can tell

[2022-02-03 06:15] greenpau commented on #45
@Matchlighter , thank you for the question!

Same idea here.

authentication portal site1portal {
…
}

authentication portal site2portal {
…
}

Authsite1.foo.bar {
  authenticate with site1portal
}

Authsite2.foo.bar {
  Authenticate with site2portal
}

Perhaps, I misunderstand the question.

Also, have you watched this? https://www.youtube.com/watch?v=Mxbjfv47YiQ&t=1s&vq=hd1080

have you seen con

[2022-02-03 06:59] Matchlighter commented on #45
I looked through the config examples and didn't see anything that matched. Hadn't come across that video though - I should be able to take a look at it tomorrow.

I had gathered that I could provide multiple `authentication portal xyz` entries, but don't they need to be in the Caddy global options block (`{ ... })` at the beginning of the main Caddyfile (and not allowed in `import`ed files) (as pe

[2022-02-03 12:16] greenpau commented on #45
@Matchlighter , to replay, you want to use “import” statements when configuring “security” app, correct? However, you can’t do it because it is in “global” config.

noticed you have “import ./apps/*.caddy”. In theory “security” is an “app”, so it could be in “apps” configuration section too, i.e. not only global configuration. Can you use “import” statements in “apps”?

[2022-02-03 12:49] greenpau commented on #45
@Matchlighter , how many portal instances do you run? Which backends do they use?

Side note. I am introducing a new feature that allow a portal to be used across multiple domain. Basically you can specify “cookie <domain> enable” for each domain you want to enable under a single portal.

[2022-02-03 16:36] Matchlighter commented on #45
Correct - each "app" is just a file with a `site.xyz { ... }` block. I've got my SSO (Authentik, similar to Okta) setup so that each "app"/site has it's own OAuth2 IdP (allowing me to use my SSO for "which-users-can-access-which-apps"-level policy). I currently have ~7 apps/sites set up this way on a single Caddy instance.

Your comment reminded me "imports", so I dug back into the Caddy docs and

[2022-02-03 16:57] greenpau commented on #45
@Matchlighter , I will open an issue in caddyserver for this. Will keep you posted here.

[2022-02-03 20:34] bataliero opened #46 "question: accessing portal over non-HTTPS port."
**Describe the issue**

I cannot login into a `webadmin` account when accessing Caddy server thought other IP than `localhost`.

Caddy debug message shows: `sandbox secret not found`

**Configuration**
[code]

**Version Information**

[code]

**Expected behavior**

Ability to authenticate when accessing Caddyserver via IP,hostname other than `localhost`.

**Additional context**

Caddy server acces

[2022-02-03 20:43] greenpau commented on #46
@bataliero , please review this "starter" config https://github.com/authp/authp.github.io/blob/main/assets/conf/local/Caddyfile
and watch this video https://youtu.be/k8tbbffMGZk

Regarding your error:

❗ The portal would not work on non-HTTPS connection.

Add `cookie insecure on` to allow 8080 (non-HTTPS):

[code]

Side note, you file server is not protected in this setup.

[code]

[2022-02-03 20:44] greenpau commented on #46
Another config to get ideas from is https://github.com/authp/authp.github.io/blob/main/assets/conf/oauth/authproxy/Caddyfile

[2022-02-03 20:45] greenpau commented on #46
@bataliero , thank you for opening this issue 👍 Please do not hesitate asking questions!

[2022-02-03 20:50] bataliero opened #47 "API for changing user password"
Is there a way to change password via API endpoint?

I have found only this to get user information:
https://authp.github.io/docs/authenticate/misc#user-identity

Can I do something like this:
`curl -X PATCH `https://auth.myfiosgateway.com:8443/whoami`  -d '{"password": "new-password"}'`

Eventually I would like to have my own customized page similar to
`https://github.com/greenpau/caddy-security/

[2022-02-03 20:52] greenpau commented on #47
@bataliero , not at the moment. It is in works.

Same as above.

[2022-02-03 22:32] greenpau commented on #47
@bataliero , if you have endpoint that you would like to see, please let me know. I will try adding them.

[2022-02-04 16:39] greenpau commented on #45
@Matchlighter , see https://github.com/caddyserver/caddy/issues/4559#issuecomment-1030148870
Looks like it is possible to do.

[2022-02-04 16:43] greenpau commented on #45
@Matchlighter , just tested injecting default portal links and it worked just fine.

[code]

[2022-02-04 16:48] greenpau commented on #45
@Matchlighter , next ...

Separated `portal` config into a separate file `~/tmp/authp/authdb/portal1.include`. The config includes `defaultPortalLinks` snippet.

[code]

The "main" Caddyfile now references the portal.

[code]

and it worked fine.

You should be good to go.

[2022-02-04 16:48] #45 closed

[2022-02-06 10:54] abbekeff commented on #44
@greenpau
I tried all your suggestions, same issue still.
I have logs for you, I cant find your email. where do I send them? (I'm new to github)

[2022-02-06 12:27] greenpau commented on #44
greenpau@outlook.com

[2022-02-06 14:52] helmut72 commented on #26
Sorry, busy working week... basically it works. It even use TLS 1.3, great! Some informations:

mail topics:

* doesn't create content-type in the mail header, eg: `Content-Type: text/html; charset="UTF-8";`
* mail body isn't rendered as HTML, because the mail client shows it as plaintext
* doesn't create subject line in the mail header, but renders subject in the mail body
* empty message-id (som

[2022-02-06 15:14] helmut72 commented on #26
I'm not a great coder, but regarding the subject it maybe should be:
https://github.com/greenpau/go-authcrunch/blob/ed9e58a3cb36280d004162893b614bc02e60f1c7/pkg/messaging/email.go#L89

`msg += "Subject: " + subj + "\r\n" + body

[2022-02-06 17:59] #43 closed

[2022-02-06 18:54] greenpau commented on #26
@helmut72 , thank you for testing this! 👍 I was so focused on getting the mailing part "right", that I missed rookie stuff on the payload 😄

Will release a fix shortly.

[2022-02-06 19:04] helmut72 commented on #26
My code suggestion is untested. It's just a guess after looking into your code ;)

Also, there is an empty message-id. Don't know how to enable it with the smtp lib you use.

[2022-02-06 19:14] greenpau commented on #26
@helmut72 , I fixed some other stuff too, e.g. date, thread, etc. https://github.com/greenpau/go-authcrunch/commit/3ffb8f254f565de5e6464d7792795de1b792c8c0

Will release shortly.

[2022-02-06 19:56] #44 closed

[2022-02-06 20:10] greenpau commented on #44
Release fix in [v1.0.13](https://github.com/greenpau/caddy-security/releases/tag/v1.0.13).

[2022-02-06 20:10] greenpau commented on #26
Release fix in [v1.0.13](https://github.com/greenpau/caddy-security/releases/tag/v1.0.13).

[2022-02-06 21:06] helmut72 commented on #26
Thank you 👍 ... received mail looks good!

Still couldn't login to portal after clicking registration link. Need to look into it tomorrow after work. Maybe it's one of my setting.

[2022-02-06 21:20] greenpau commented on #26
@helmut72 , you will not be able to login. The clicking of the link adds user to the registration. (Before there was no requirement to confirm since the email functionality was not there.)

Next step in terms of development - on a user acknowledgement, the server will send an email to an admin to approve/decline the registration.

[2022-02-07 02:10] #46 closed

[2022-02-07 21:03] irishismyname opened #48 "What JWKS key types are supported in the generic OAuth2 backend?"
New to Caddy, new to OAuth & OIDC so brace yourselves. I'm trying to add OAuth/OIDC authentication to a site. I'm using [this](https://github.com/authp/authp.github.io/blob/main/assets/conf/oauth/generic/Caddyfile) config file as a reference. Things are going ok to start with, here's where (I think) I'm at:
1. It looks like Caddy is hitting my metadata_url and finding the jwks_uri field.
2. Once i

[2022-02-07 21:17] greenpau commented on #48
@irishismyname , thank you for opening the issue! What is the provider/product your are integrating with?

I will review code to see about the support for EC-based keys.

[2022-02-07 21:27] irishismyname commented on #48
I really can't tell what product this is from my end, but I will do what I can to figure it out.

[2022-02-08 01:05] greenpau commented on #48
@irishismyname , please paste what you see in “ .well-known/openid-configuration”. It will help me understanding your config better.

Also, I will add support for EC-based keys this week.

[2022-02-08 05:34] greenpau commented on #48
This specific error is coming from here:

https://github.com/greenpau/go-authcrunch/blob/2227dbfcebbb7c67bd5050724ef3ac9816f9476f/pkg/authn/backends/oauth2/configure.go#L467-L473

More specifically, it failed the following check. Which indeed does not support EC-based keys.

https://github.com/greenpau/go-authcrunch/blob/2227dbfcebbb7c67bd5050724ef3ac9816f9476f/pkg/authn/backends/oauth2/jwks.go#L4

[2022-02-08 06:41] greenpau commented on #48
@irishismyname , are you using `xcaddy` utility to compile Caddy? If so, then I would like you to try something.

[2022-02-08 12:27] irishismyname commented on #48
I removed some scopes and replaced the real uri with <uri> for readability, here's what we've got at " .well-known/openid-configuration":

[code]

[2022-02-08 12:32] irishismyname commented on #48
Yes, I'm building it in a Windows Docker image starting with `caddy:builder-windowsservercore-1809`  and `--with github.com/greenpau/caddy-security` and copying over caddy.exe from the builder to `caddy:2.4.6-windowsservercore-1809`.

[2022-02-08 13:04] greenpau commented on #48
@irishismyname , great! Please do the following. In your Dockerfile add the following `--with` line.

[code]

e.g.

[code]

This would have extra debugging that I need. You will see slightly different errors and I need them.

P.S. If all goes well, I will have a fix by the EOD.

[2022-02-08 13:07] greenpau commented on #48
@irishismyname , also based on the `.well-known/openid-configuration`, the product you use is PingIdentity (https://docs.pingidentity.com/)

[2022-02-08 13:29] irishismyname commented on #48
The new error is:
[code]

where `<kid>`, `<x>`, `<y>` are the values from the 1st element of the `keys` array from "fss/pf/JWKS". `<nil>` was actually in the error message.

[2022-02-08 13:35] greenpau commented on #48
@irishismyname , this is great! Exactly what I expected. Will bake a patch and will ask you to retest.

[2022-02-09 03:21] greenpau commented on #48
@irishismyname , please try this one and report back.

[code]

Separately, could you please share your backend config? I think I will create a [shortcut](https://authp.github.io/docs/authenticate/misc#shortcuts) for `pingidentity`.

[2022-02-09 13:26] irishismyname commented on #48
Rebuilding using `--with github.com/greenpau/go-authcrunch@b2a08bdcc877240e9664fa1ec3dfec888f63e140` and running yielded a new message:
[code]

where `<kid>` is another entry from the `fss/pf/JWKS` endpoint:
[code]
`<kid>` is the same as above and `<x-value>` and `<y-value>` were 88 character strings.

[2022-02-09 15:52] greenpau commented on #48
@irishismyname , i think they are violating the RFC. Will send a new commit in a few hours for you to try.

[2022-02-09 18:01] greenpau commented on #48
@irishismyname , please try `2dcbf8ee00a40eaff34338d5e02e3e138da19861` and report back.

[2022-02-09 19:36] irishismyname commented on #48
`successfully configured OAuth 2.0 backend","provider":"generic"`🎉! Once have have a working, coherant backend config I will post it.

[2022-02-09 20:18] greenpau commented on #48
@irishismyname , please keep me posted. i am here to help 👍

[2022-02-10 13:39] samcro1967 opened #49 "question: Help transitioning from caddy-auth-portal to caddy-security"
Working to get converted from caddy-auth-portal to caddy-security.  I have a new docker image and Caddyfile.  I am able to go to http://192.168.1.106 and am returned "Client sent an HTTP request to an HTTPS server".  Good sign caddy is listening on port 80.  When I go to https://192.168.1.106/auth or https://192.168.1.106/portainer I get "This site can’t provide a secure connection".  I am not see

[2022-02-10 13:41] greenpau commented on #49
@samcro1967 , “ http_port” should be 80 ;-) you can remove http/s port directives if you are using default ports.

[2022-02-10 13:52] samcro1967 commented on #49
Ah geez.  Sometimes it just takes someone else to find your dumb mistake.  Been looking at that Caddyfile for an hour lol.  Obviously that got me a little further.

[code]

[2022-02-10 14:05] greenpau commented on #49
@samcro1967 , the above set of errors is saying yiu don’t have a cert for the 192.168 address. This is not caddy-security

[2022-02-10 14:31] samcro1967 commented on #49
Ok.  I thought caddy was able to generate and manage internal certs, but I am not finding anything in a quick search.  Not sure I want to mess with generating and managing internal certs for testing purposes.  Will probably move testing back to production now that I am further along.  Appreciate your help.

[2022-02-10 14:31] #49 closed

[2022-02-10 22:59] samcro1967 opened #50 "question: Email setup"
Trying to get email working for user registration.  I do not see any errors in the logs, but get email error when a user tries to register.  Below is the relevant config I am using.  Guessing I don't quite have the config correct, but not sure what I am missing.

[code]

[2022-02-11 02:04] samcro1967 commented on #50
Tried it with stmps also, with no luck.  Added the line below to my Dockerfile.  Still not seeing anything in the container logs related to the user registration email failure.  Not noticing anything different in the logs compiled with the latest commit.

**Dockerfile**
[code]

**Caddyfile global block**
[code]

[code]

[2022-02-11 02:11] greenpau commented on #50
@samcro1967, do you see the email provider configuration in the JSON?

[2022-02-11 03:05] greenpau commented on #50
@samcro1967 , please take a screenshot of the error the user is receiving. Generally speaking, the error should show up in the logs.

[2022-02-11 03:18] samcro1967 commented on #50
A grep of the logs for error returns no results.

![image](https://user-images.githubusercontent.com/2319445/153532476-1418f4a7-d9f5-4b5a-a9f5-764b3f5c3955.png)

[2022-02-11 03:29] greenpau commented on #50
@samcro1967 , the code that triggers the errors follows:

[code]

There should be an error that says `Failed to send notification`.

[2022-02-11 03:52] greenpau commented on #50
@samcro1967 , please try upgrading to [v1.0.14](https://github.com/greenpau/caddy-security/releases/tag/v1.0.14).

You would need to provide the `admin email` directive:

[code]

[2022-02-11 13:01] samcro1967 commented on #50
Having issues getting v1.0.14.

container build log shows
[code]

docker exec -it caddy /bin/sh -c "caddy list-modules -versions | grep security" shows "security v1.0.13".

Also tried specifying "--with github.com/greenpau/caddy-security@v1.0.14" in the Dockerfile and see the same results.

Removed the container and all images and rebuilt to make sure there is only one image and one container runn

[2022-02-11 13:11] greenpau commented on #50
@samcro1967 , please paste Dockerfile “—with” statements.

[2022-02-11 13:15] samcro1967 commented on #50
Complete Dockerfile

[code]

[2022-02-11 13:50] irishismyname commented on #48
I should have read/posted more of this message 😑. I got to the login screen and noticed that the `client_id` parameter in the redirect was reading `ERROR_REPLACEMENT`. Looking closer at the logs I can see:
`:"successfully configured OAuth 2.0 backend","provider":"generic","client_id":"ERROR_REPLACEMENT"`

It's not *entirely* clear that this isn't my doing, so here's the portal config I'm using:
[c

[2022-02-11 13:58] greenpau commented on #48
@irishismyname , the “{env.GENERIC_CLIENT_ID}” is the Caddy thing that says replace the “ {env.GENERIC_CLIENT_ID}” with the value of GENERIC_CLIENT_ID environment variable. If you have no env variables, it will come out blank. Are you setting the environment variables for your “env.*” placeholders?

Alternatively, instead of the “{env.GENERIC_CLIENT_ID}”, you could just type in the value of whatev

[2022-02-11 13:59] greenpau commented on #48
@irishismyname , i.e. don’t use curly brackets, unless you are using Caddy placeholders https://caddyserver.com/docs/caddyfile/concepts#placeholders

[2022-02-11 14:00] greenpau commented on #50
@samcro1967 , please remove

--with github.com/greenpau/go-authcrunch@c42d9cae65c8bab5b047a80ece6b9d6b3b083ea6

It is no longer needed

[2022-02-11 14:11] samcro1967 commented on #50
Here is what I am seeing in the access log.  I didn't redact anything.  Nothing looks senstivie.
[code]

[2022-02-11 14:19] greenpau commented on #50
@samcro1967 , this looks like connectivity issue to Gmail. I will try adding extra debugging over the upcoming weekend.

[2022-02-11 14:21] greenpau commented on #50
@samcro1967 , do you have proxies in your environment? https://stackoverflow.com/questions/61907287/docker-first-record-does-not-look-like-a-tls-handshake-error-when-pull-image

[2022-02-11 14:22] samcro1967 commented on #50
There is no proxy between the caddy container and the Internet.  I am able to ping ping smtp.gmail.com from the container.

/srv # ping smtp.gmail.com
PING smtp.gmail.com (74.125.129.108): 56 data bytes
64 bytes from 74.125.129.108: seq=0 ttl=101 time=30.878 ms

[2022-02-11 14:23] greenpau commented on #50
@samcro1967 , another suggestion “think, you should be using port 465 instead of 587.”

[2022-02-11 14:33] samcro1967 commented on #50
I am using 587 on a handful other other containers successfully for messaging.  Seeing "Username and Password not accepted" on port 465.  I do have MFA enabled for gmail so I am using an app generated password.  Uptime-Kuma works on port 587, but not 465.  Guessing app generated passwords do not work for auth on port 465.

[code]

[2022-02-11 15:56] greenpau commented on #50
@samcro1967 , please describe the process you have used to used to create this custom password. I could try replicating it with my Gmail.

[2022-02-11 16:19] irishismyname commented on #48
I think we're at the end of this particular quesiton/issue, but I still have some ground to cover. I'm at a point where I'm getting `"failed validating OAuth 2.0 access token: OAuth 2.0 id_token email claim not found"`. When I decode the JWT from the logs I get something like:
[code]

I'm going to spend some more time trying to sort myself and my config file out, should I create a new issue or con

[2022-02-11 16:30] greenpau commented on #48
@irishismyname , let's stay in this issue.

The `id_token` is a required field in the `generic` provider. Unfortunately, there is no Caddyfile directive to set custom `requiredTokenFields` (e.g. how it is done with Facebook).

https://github.com/greenpau/go-authcrunch/blob/c42d9cae65c8bab5b047a80ece6b9d6b3b083ea6/pkg/authn/backends/oauth2/configure.go#L244-L257

Over the weekend, I will add the Ca

[2022-02-11 16:32] irishismyname commented on #48
Do you suspect this is a nuance of PingID or something the auth server provider has configured?

[2022-02-11 16:43] greenpau commented on #48
@irishismyname , it is a nuance of PingID. There a a few "switches" at play here (as you can see with FB). I think the "id_token" is the one I did not automate.

That's why I have defined, non-generic provider.

[2022-02-11 17:25] samcro1967 commented on #50
Here are the instructions on how to setup an app password.
https://support.google.com/mail/answer/185833?hl=en

[2022-02-11 17:42] greenpau commented on #50
@samcro1967 , thank you! 👍  I will try it.

[2022-02-12 04:12] greenpau commented on #2
This issue is stale.

[2022-02-12 04:12] #2 closed

[2022-02-12 04:14] greenpau commented on #3
This is done.

[2022-02-12 04:14] #3 closed

[2022-02-12 19:23] greenpau commented on #48
@irishismyname , once I release, please add the following configuration directive to your `generic_oauth2_backend`:

[code]

That would make the presence of `id_token` not required.

Also, if you have an instance of PingID tha you could share with me, then I will get it working faster 😄

[2022-02-12 19:38] greenpau commented on #50
@samcro1967 , I generated the app password and the following configuration worked for me.

[code]

[2022-02-12 19:38] #50 closed

[2022-02-12 20:02] greenpau commented on #48
@irishismyname , https://github.com/greenpau/caddy-security/releases/tag/v1.0.15 is ready for you 😄

[2022-02-13 14:17] samcro1967 commented on #50
I was able to get it to work following your last config above, but I had to generate a new app password.  It would not work with an existing app password.  I am using the same app password for a handful of existing apps without issue.  Not sure why, but it is working now.  Works nicely and is very clean.

Is the step to move the user from registrations.json to users.json a manual step?  I don't se

[2022-02-13 18:14] tmeuze commented on #35
Hi, forgive me for the possibly silly question; let me know if I should create a new issue or discussion.

I've been following this thread and am trying to set up something similar with Authentik and Caddy-Security. I'm just getting started with a simple config:

[code]
`atk.DOMAIN.TLD` being the location of Authentik.

I cannot get Caddy to start with this config, due to a `connection refused` wh

[2022-02-13 20:35] irishismyname commented on #48
I rebuilt with the latest release

[2022-02-13 22:13] greenpau commented on #35
@tmeuze , let’s start with a new thread.

[2022-02-13 22:15] greenpau commented on #35
@tmeuze , also, please watch https://youtube.com/watch?v=Mxbjfv47YiQ&feature=share from 45:32

[2022-02-14 13:12] greenpau commented on #48
@irishismyname , what is your current config?

[2022-02-14 13:15] #26 closed

[2022-02-14 13:23] irishismyname commented on #48
[code]

[code]

[2022-02-14 14:26] greenpau commented on #48
This is the state you want to be in.

The `access_token` below is used to make a follow up call to fetch additional information from the PingID.

[code]

Unfortunately, I don't have access to an instance of PingID. However, what you need requires creating a function similar to the one used for Facebook, i.e. `fetchFacebookAccessToken`.

https://github.com/greenpau/go-authcrunch/blob/45670eee4fd8cf

[2022-02-14 14:27] greenpau commented on #48
@irishismyname , I tried registering for a free demo account with PingID, but they don't provide it for personal addresses.

[2022-02-14 18:00] greenpau commented on #48
@irishismyname , here, all the changes need to happen in `caddy-security`. I think your PingID is working as expected.

[2022-02-14 18:49] irishismyname commented on #48
This problem may just be rooted in my lack of experience with OpenID. I'm finding that the JWT that's being returned when I use the `openid` scope:

## Header
[code]

## Payload/Claims
[code]
might be a valid OpenID response and I need to use some part of this to request the user's info from yet another endpoint. Still researching that, hopefully will find an answer shortly.

[2022-02-14 19:41] greenpau commented on #48
@irishismyname , the issues here is no longer OpenID. Rather, it is a specific PingID API to pull user info, i.e. `    "userinfo_endpoint": "<uri>/fss/idp/userinfo.openid",`. The `caddy-security` does not implement it.

You are getting `access_token` from PingID. Now, you need to take the `access_token` and extract user info, e.g. name and email, roles, etc.

I've seen implementation that send ema

[2022-02-14 20:20] irishismyname commented on #48
The log entry right before the "Authentication Failed" message has the access and id_tokens:
[code]

I took that access token and posted to `<uri>/fss/idp/userinfo.openid`. This endpoint was listed as `userinfo_endpoint` at the uri from the metadata_url in the Caddyfile. The user info came back as expected:
[code]

Is this the same `email` field from the message `"error":"failed validating OAuth 2

[2022-02-14 21:39] greenpau commented on #48
The `id_token` and `access_token` are present.

@irishismyname , idk. Probably not, because it would not browse to `/fss/idp/userinfo.openid`.

[2022-02-14 21:48] greenpau commented on #48
@irishismyname , I need to see the entire exchange. If I don't have access to PingID instance, I can't really help.

[2022-02-15 13:18] NilsOlavKvelvaneJohansen opened #51 "Reload users.json"
Hey! I was wondering if it is possible to add users to the local backend and have them be able to be authenticated by auth portal at once without having to stop and start the caddy process. Thanks for the great plugin 👍

[2022-02-15 13:47] irishismyname commented on #48
Understood, I think I have something spun up that you can use. Do you want to send me your email address privately or can I find it somewhere in your profile?

[2022-02-16 18:38] mouzzampk2014 opened #52 "question: how to setup basic authentication"
Hi, i have few services which I need to put behind authentication.

Could you please provide a snippet how can I add the basic authentication to one of my service.

Thank you

[2022-02-16 18:42] greenpau commented on #52
@mouzzampk2014 , please check this [video](https://youtu.be/Mxbjfv47YiQ?t=2605) and review this snippet: https://github.com/authp/authp.github.io/blob/main/assets/conf/local/Caddyfile

First, you need to setup local authentication. See this [video](https://www.youtube.com/watch?v=k8tbbffMGZk)

Second, add the `with basic auth` directive in your authorization policy:

[code]

[2022-02-16 19:32] mouzzampk2014 commented on #52
Hi @greenpau thank you so much for replying to my request.

I looked at the video but little confused that I need the whole section in my Caddyfile or just a block.

Basically thats my Caddy file and I am not sure where I need to add the basic authentication. I would really appreciate if you can guide me with this, thank you :)

[code]

[2022-02-16 19:45] greenpau commented on #52
@mouzzampk2014 , you would need to get more familiar with caddy and consider using this: https://caddyserver.com/docs/caddyfile/directives/basicauth

[2022-02-16 19:45] #52 closed

[2022-02-16 20:02] mouzzampk2014 commented on #52
Thanks @greenpau for the link and guidance. I am basically new to caddy so trying to find my way.

Let me try again and I hope this time I will be okay.

Thanks again

[2022-02-16 20:12] greenpau commented on #52
@mouzzampk2014 , that's what I figured out. You need to get comfortable with build-in plugins, e.g. `respond`, `reverse_proxy`, etc. I recommend asking questions here: https://caddy.community/

[2022-02-16 22:56] resmo opened #53 "consul backend as user data store."
An idea has come to me.

The local user.json is nice and simple for smaller projects but doesn't quite meet the requirements

I've been thinking about a Hashiport Consul backend or even a Hashicorp Vault backend (which itself can use Consul as a backend) to store user data.

This would allow to benefit from Consul's HA and would make it easier to deploy Caddy Auth servers when we don't have to dea

[2022-02-16 23:07] greenpau commented on #53
@resmo , it is a good idea 👍 In fact, I have been working on a prototype for the "universal" backend. Currently, I am focused on getting management UI (Angular) up and running. As part of that work, I will think through the APIs. That would make Consul integration possible.

[2022-02-17 17:43] MexHigh opened #54 "feature: Enable templates for existing claims when adding new claims in user transforms"
I want to add a custom claim containing a Matrix ID to the JWT token. A Matrix ID is composed like `@<username>:<server>`. I want to use a user transform that adds this new claim (as documented in https://authp.github.io/docs/authenticate/user-transforms#inject-custom-claims). This claim should contain the username of the logged in user, if he has the `matrix-admin` claim, so the user `sam` would

[2022-02-17 17:46] greenpau commented on #54
@MexHigh , thank you for the issue! 👍 This is great!

To replay, you want to use "substitution/replace" functionality in user transforms based on existing claims?

Side question, what is the `matrix_id`? Where is it used?

[2022-02-17 17:54] MexHigh commented on #54
Yes a "substitution/replace" functionality would solve this. But access to the username of the logged in user would be great, too.

To answer your side question: If you use the Matrix server implementation Synapse, you can log in using the key that was used to sign a JWT and a claim inside it containing the Matrix ID (see https://matrix-org.github.io/synapse/latest/jwt.html). I want to build an ad

[2022-02-17 17:56] greenpau commented on #54
@MexHigh , 👍 Sounds good! Will take a look at it over the weekend.

[2022-02-19 13:05] Nicarim opened #55 "breakfix: LDAP authentication against openLDAP doesn't seem to work"
**Describe the issue**

I'm trying to create a proof of concept of using OpenLDAP as source of authentication. I'm using https://github.com/osixia/docker-openldap this docker container.  I seem to be unable to make it go through with the password that is correct for a given user. I just get
[code]

**Configuration**

Paste full `Caddyfile` below:

[code]

**Version Information**

Provide output of

[2022-02-19 13:05] Nicarim commented on #55
Oh, Accidentally pressed enter... eh, I'll edit it, give me a few minutes

[2022-02-19 13:42] Nicarim commented on #55
I just tried with v1.0.16 just to be sure and it's the same issue.

[2022-02-19 14:27] greenpau commented on #55
@Nicarim , thank you for the issue! 👍 Here are some preliminary thoughts on this.

1. I suspect the issue is attribute mapping with your LDAP. Also, it could be using POSIX groups.

See configuration examples here: https://authp.github.io/docs/authenticate/ldap/ldap#configuration-examples

Add `posix_groups` to the server definition.

[code]

2.  Your `search_filter ` is `"(&(|(sAMAccountName=%s)(

[2022-02-19 14:33] Nicarim commented on #55
According to the logs, the user is successfully found
[code]
I previously had the issues with memberOf not working, however I was able to figure it out by installing openLDAP distribution that has memberOf implemented. It now returns groups correctly.
Problem is that now the credentials to log in are just not working. I always get the same response from caddy.

[2022-02-19 14:36] Nicarim commented on #55
Using the provided query with ldapsearch gives me the correct user
[code]

[2022-02-19 14:38] greenpau commented on #55
@Nicarim , they might not be working if there is no match on the username.

The relevant code is here:

https://github.com/greenpau/go-authcrunch/blob/27766dcc232658851a81f8bdcff7f8f73cb4a1cf/pkg/authn/backends/ldap/authenticator.go#L303-L318

Initially, it takes `username` and performs substitution of the the search filter `search_filter "(&(|(sAMAccountName=%s)(cn=%s))(objectclass=person))"`

Wh

[2022-02-19 14:41] Nicarim commented on #55
Oh!
I get it now
The username attribute has to match with the username that I provide. I replaced attribute username with "cn" instead of "uid" (which was empty for me, probably a leftover) and it now works!

Thank you very much. I am not that familiar with LDAP and I couldn't wrap my head around it.

[2022-02-19 14:42] Nicarim commented on #55
[code]
This is what I had to do instead, for anyone that comes across this problem too.

[2022-02-19 14:44] greenpau commented on #55
@Nicarim , glad it worked out! 👍 We are all learning! It is the way 😄

See https://github.com/greenpau/caddy-security/issues/14#issue-1111599735

[2022-02-19 14:45] #55 closed

[2022-02-19 15:34] greenpau commented on #51
@NilsOlavKvelvaneJohansen , I am working on the API and UI for it.

Related: https://github.com/greenpau/caddy-security/issues/16

[2022-02-19 16:02] greenpau commented on #48
The Caddyfile for the integration is here: https://github.com/authp/authp.github.io/blob/main/assets/conf/oauth/pingid/Caddyfile

Screenshots: https://authp.github.io/docs/authenticate/oauth/backend-oauth2-0010-pingid

Currently, only the Implicit Grant Type works. The authorization code does not work due to something on Ping Identity side.

The Redirect URL should end with `authorization-code-js-

[2022-02-19 16:02] #48 closed

[2022-02-19 19:29] greenpau commented on #54
@MexHigh , here is test case I will be solving:

[code]

[2022-02-19 19:31] greenpau commented on #54
@MexHigh , how is your Golang? Are you still a college/university student?

[2022-02-19 22:28] greenpau commented on #54
Here are some of the things one could do:

Add `email` claim based on `sub` and `realm` claims:

[code]

Add multiple `roles` claim based on `realm` claim:

[code]

Add custom `matrix_id` claim based on `sub` claim:

[code]

A variant of the above with the addition of `email` claim:

[code]

[2022-02-19 22:32] #54 closed

[2022-02-19 22:35] greenpau commented on #54
@MexHigh , you are all set! I will try releasing this weekend. However, if you want to try this feature right now, you could add the
following to your `xcaddy` build:

[code]

[2022-02-19 23:59] greenpau commented on #54
@MexHigh , if you are. I highly recommend you becoming mentee at https://mentorship.lfx.linuxfoundation.org/participate/mentee

[2022-02-20 14:16] hurrycaner opened #56 "feature: ability to share auth data between caddy instances (high availability)"
There was a PR in caddy-auth-portal implementing this (branch `implement-oauth-for-ha-systems`. Would be nice to implement that: https://github.com/greenpau/caddy-auth-portal/pull/174

[2022-02-20 14:54] greenpau commented on #56
@hurrycaner , thank you for the issue! 👍

[2022-02-21 18:56] MexHigh commented on #54
Thank you very much. I already tried it today using your instructions and it works as intended.

<br>

Yes, I'm currently studying Enterprise and IT-Security but Golang is not part of the study program, sadly. I tought it myself though. I will take a look at the mentorship, thanks for sharing it.

[2022-02-21 19:38] dczysz opened #57 "breakfix: User registration successful, but no entry added to JSON file"
**Describe the issue**

I'm doing some simple testing before migrating to this new plugin and can't seem to get user registration to work.  I'm not sure if it's an actual bug or if I'm just not not configuring it correctly.  It appears to work fine, but nothing gets populated in `registrations_db.json`.

**Configuration**

Paste full `Caddyfile` below:

[code]

**Version Information**

Provide out

[2022-02-21 19:43] greenpau commented on #57
@dczysz , for the user registration to work, you need adding email provider.

Please see this config: https://github.com/authp/authp.github.io/blob/main/assets/conf/local/registration/Caddyfile

and an example of GMail SMTP setup: https://github.com/greenpau/caddy-security/issues/50#issuecomment-1037420658

[2022-02-21 19:54] dczysz commented on #57
Ah ok, I figured this probably wouldn't work without an actual email setup forever.  Thanks.

[2022-02-21 19:54] #57 closed

[2022-02-21 20:14] greenpau commented on #57
@dczysz , fyi, I am working on the API that would allow all the things you guys asked for in re user management.

First, this CLI would allow you to perform user management: https://github.com/greenpau/go-authcrunch/tree/main/cmd/authdbctl#authdb-management-client
Currently, it (partially) does `connect`.

Next step, would be adding user management.

[2022-02-21 20:14] greenpau commented on #57
@dczysz , please watch https://github.com/greenpau/caddy-security/issues/16

[2022-02-21 20:50] dczysz commented on #57
Thanks for the CLI link! Hadn't seen that before, so I'll definitely be trying that out.

Will do, glad to see a specific issue for it.  Can't wait to replace our hacky solution!

Thanks again for all the help, Paul

[2022-02-23 14:50] jmfotokite opened #58 "question: Possible to change JWT cookie name?"
Hi!

Is it possible to change the name of the cookie which contains the JWT?
By default, it is `access_token`. I tried `crypto default token name my_cookie_name`, but nothing changed.
I suspect that `access_token` is hardcoded in https://github.com/greenpau/go-authcrunch, is that right?

Background is that we'd like to smoothly transition from our old Caddy v1 installation, which used https://gith

[2022-02-23 14:53] greenpau commented on #58
@jmfotokite , yes, it is possible. Please post the config you are working with. Preliminary you could do “crypto key token name foo”, but I want to see you connected the dots in your config. Also, please provide the version output from caddy.

[2022-02-23 14:57] jmfotokite commented on #58
Wow, that was quick :scream:

This is my config so far. It contains only the auth portal, the services which need auth are hosted somewhere else and will then use the authorize directive.

[code]

[2022-02-23 14:57] jmfotokite commented on #58
I'll have a look at the video too.

[2022-02-23 15:07] greenpau commented on #58
@jmfotokite , some preliminary thoughts on this.

[code]

The portal might not work with HTTP, unless you `set cookie insecure on` ... you have it `on`  [link](https://authp.github.io/docs/authenticate/auth-cookie#intra-domain-cookies)

Instead of `http://:{$PORT} {`, you can just do:

[code]

Instead of:

[code]

You could do a [shortcut](https://authp.github.io/docs/authenticate/misc#shortcuts),

[2022-02-23 15:12] greenpau commented on #58
@jmfotokite , also, I recommend having longer cookie (x+8h) lifetime than token (x) lifetime.

[code]

The “cookie lifetime” is the max lifetime of a cookie in a browser cache.

The “crypto key lifetime” is the lifetime of the JWT token inside the cookie.

When the token expires, the cookie carrying it is still “alive” and serves as a clue for a redirection.

[2022-02-23 15:28] jmfotokite commented on #58
Thank you, that was very helpful!

* using `crypto key token name my_name` did the trick for the cookie name
* the `http://:{$PORT}` part is a bit misleading in my config, this is actually running on a managed container service which terminates HTTPS for us, so all fine
* I am using the shortcut now
* and I have extended the cookie life time

Again, thank you, I am blown away with how quickly and

[2022-02-23 15:28] #58 closed

[2022-02-23 15:53] greenpau commented on #58
@jmfotokite , enjoy! Please do not hesitate asking questions! See https://github.com/greenpau/caddy-security/issues/14#issue-1111599735

[2022-02-23 20:09] lbreitk opened #60 "configure roles and bypass from site config"
First off, I really like the new configuration, I think it's much better.

But I liked being able to specify the role and bypass URLs within the site definition. Looks like now, you have to define policies in the global scope, and then attach the policies to the site. The problem is, this doesn't scale as well for us - we manage access by having a single role per site that we assign in LDAP and th

[2022-02-23 21:10] greenpau commented on #60
@lbreitk , another good question! 👍 I will try figuring out how allow override of changes at a handler level.

What are the settings that you need right now? Please provide Caddyfile snippet.

[2022-02-23 22:32] lbreitk opened #61 "{url} not parsing?"
**Describe the issue**

In previous versions I could pass the variable `{url}` to the "forbidden" URL. Now I get an `ERROR_REPLACEMENT` value instead

**Configuration**

[code]

**Version Information**

[code]

**Expected behavior**

The URL the user was attempting to access to be displayed instead

**Additional context**

Previous Versions:
![image](https://user-images.githubusercontent.com/77999

[2022-02-25 17:16] Netroxen commented on #43
What's the current status on this, I currently have multiple domains pointed to my webserver and can't, unfortunately, authenticate the domains with a single portal. Is there a way to configure this already?

Thanks!

[2022-02-25 17:21] greenpau commented on #43
@Netroxen , yes, you can do it :-) https://github.com/greenpau/go-authcrunch/blob/8295d6a26ed56f25be75fd89649a9929c0f50899/pkg/authn/cookie/cookie.go#L193-L242

Basically it is the same as before, but you need to put domain name, e.g. `foo.bar` and `bar.baz`

[code]

If things are not working, please open a new issue and you/I will troubleshoot.

[2022-02-26 10:16] nmenglund opened #62 "Azure Oauth 2.0 backend fails to authorize user, `email claim not found` despite being present"
**Describe the issue**

Oauth2 backend Azure fails to log in the user, gives `"error":"failed validating OAuth 2.0 access token: OAuth 2.0 id_token email claim not found"` in the Caddy log -- but the scopes are `openid email profile`, and the Azure `authorize` request itself is successful.

Azure is configured with access to the relevant scopes, and if it _hadn't_, I would expect the `authorize` c

[2022-02-26 17:40] greenpau commented on #62
@nmenglund , thank you for opening the issue! 👍 I am here to help!

Please remove `authenticate with dev` from `www.example.com`:

[code]

Additionally, in your preamble, enable debug:

[code]

Then, please use `trace` plugin (https://github.com/greenpau/caddy-trace) on your `login.example.com` endpoint.
It will help seeing what the webserver receives.

[code]

Once you do all of the above, you wi

[2022-02-26 18:52] greenpau commented on #62
😃 Glad it worked out! 👍

No need to apologize! You did well by asking the question 👍

[2022-02-28 22:35] brinycoolie opened #63 "Default admin password"
Hi,
Once the plugin is installed and the  webadmin user ID is entered what is the correct password?
 I am using version 1.0.17 of the plugin.
Caddy is v2.4.6 h1:HGkGICFGvyrodcqOOclHKfvJC0qTU7vny/7FhYp9hNw=
I am starting caddy with user caddy:caddy by use of systemd and writing the initial users.json to /var/lib/caddy successfully. Thus;
{
  "version": "1.0.17",
  "policy": {
    "password": {

[2022-02-28 23:32] greenpau commented on #63
@brinycoolie , remove `users.json` and restart the server. After the restart, you will see the log entry that would have `webadmin@localdomain.local` and the password for the `webadmin` user. It is a random password. After that, login and change the password.

Alternatively, see https://authp.github.io/docs/authenticate/local/password-management to change the hash you have, i.e. `$2a$10$VvjXt5P.tE

[2022-03-01 12:33] simaotwx opened #64 "question: How to set the callback and redirect URI?"
This is probably already answered or at least discussed in https://github.com/greenpau/caddy-auth-portal/issues/193 however, the issues are no longer visible.

I'd like to change the callback URL in this plugin to avoid changing it in the provider as in enterprises this is often a process which takes time and approvals to get through.

Example:

Instead of `/auth/oauth2/example/authorization-code-

[2022-03-01 12:37] greenpau commented on #64
@simaotwx , thank you for the question! 👍 it needs to be implemented.

[2022-03-01 12:38] simaotwx commented on #64
Thank you for the quick respond. Looking forward to it!

[2022-03-01 13:36] hurrycaner commented on #56
@greenpau i'm thinking about developing this feature since i really need this feature, i need to support redis as a cache implementation to oauth, but i would like to know from you what i need to implement to make this a valuable feature for this plugin :)

[2022-03-01 15:45] simaotwx opened #66 "question: How can I access claims in http handlers?"
Say, I have configured the authentication portal and authorization which is working.

Now I want to use claims in handlers, e. g.:

[code]

Accessing example.org as authenticated user "foo" would respond with "foo".

[2022-03-01 19:19] brinycoolie commented on #63
Thanks Paul,
I did not see that the hash was randomly generated each creation, so I assumed it was hardcoded.
Also I had quite a hard time getting my tired old head around the new paradigm with Caddy log files so I could even see the  new random hash. My bad! Got there in the end.
 I wanted to avoid, if possible deleting the entire file since it would also delete any users there so I wanted to wor

[2022-03-03 08:30] simaotwx commented on #66
I found out you can kind of do this by injecting headers and using the headers as values.
Not the best way to do this inside the Caddyfile but can certainly help in some situations.

[2022-03-05 00:24] thermoscookies commented on #61
Having the same issue when trying to use {} with set auth url, it replaces it with ERROR_REPLACMENT
set auth url https://{host}/auth/

[2022-03-05 01:51] greenpau commented on #61
@lbreitk , @thermoscookies , will try looking into it this weekend.

[2022-03-05 14:20] greenpau commented on #61
set auth url https://{host}/auth/

@thermoscookies, if it is the same host, just set it to “/auth/“

[2022-03-05 15:16] greenpau commented on #61
@lbreitk , I am having trouble finding the `{url}` placeholder [here](https://caddyserver.com/docs/caddyfile/concepts). Where did you get it?

[2022-03-05 15:16] #63 closed

[2022-03-05 15:18] greenpau commented on #60
@lbreitk , please provide Caddyfile snippets for the type of configuration you want.

[2022-03-05 15:37] greenpau commented on #51
@NilsOlavKvelvaneJohansen , I am very close to implementing the live reload of users. Please see if you can get https://github.com/greenpau/go-authcrunch/tree/main/cmd/authdbctl working. Please report back if you are able to run `authdbctl metadata`.

[2022-03-05 15:55] thermoscookies commented on #61
I am using multiple domains, only 3 so easy enough to work with, but i end up having to have multiple policies. I changed back to auth.domain.name to make my Caddyfile cleaner. When I was using /auth it wouldnt work well because i use subdomains, so my auth url was domain1.com/auth, when i would go to wiki.domain1.com it would redirect to wiki.domain1.com/auth

I've worked around my issue using th

[2022-03-05 19:06] greenpau commented on #61
@thermoscookies , please open a separate issue for this one and provide your current config. I will show you how to optimize your configuration via snippets with arguments.

[2022-03-05 20:06] greenpau commented on #61
@lbreitk , I found where the `url` comes into play.

https://github.com/greenpau/go-authcrunch/blob/ee3afe757838f11c33c871a4aa1ed9e1c8929be7/pkg/authz/authenticate.go#L172-L186

I confirmed this bug. It did not replace `{url}`. Will work on it right now.

[2022-03-05 21:04] greenpau commented on #61
@lbreitk , the issue with `{url}` is now fixed in https://github.com/greenpau/caddy-security/releases/tag/v1.0.17

[2022-03-05 21:04] #61 closed

[2022-03-06 07:16] Fusion commented on #32
Quick comment to let you know that GLAuth 2.1.0 was released with this fix. Cheers!

[2022-03-07 01:41] zhirschtritt opened #68 "question: iIssuing custom claims dynamically"
To preface, this is probably a feature request and likely a non-trivial one, but I thought I'd figure out if it's actually a reasonable request.

I would like to use the auth plugin to issue roles based on a call to my backend service or some other shared crud-y resource that caddy can read and my app can update. I want to be able to edit authorized users on the fly and apply roles/custom claims w

[2022-03-07 15:05] thermoscookies opened #69 "Caddyfile w/ caddy-security with multiple domains"
[code]

[2022-03-07 17:50] lbreitk commented on #61
Thanks so much for fixing this!

[2022-03-09 19:35] glubii commented on #32
After a month of unsuccessful on and off testing i finally got it to work this week, thank you so much!

[2022-03-09 20:34] Fusion commented on #32
Woof. Sorry it took so long!

[2022-03-10 17:00] dbranco-sdc opened #70 "feature: Ability to provide scopes from the request into the security backends"
# WHY
Nowadays we have a use case where we can have different scopes based on certain user data. Since the scopes are fixed, we are forced to create different backends containing the specific scopes for the different flags from user data.

This also require the creation of different policies and routes to apply one or another set of scopes. The idea is to  have a directives to set scopes from the

[2022-03-10 17:05] greenpau commented on #70
@dbranco-sdc , thank you for the issue! 👍

After reading this, I don't think I am understanding the use case well. Here are some of my follow up questions.

What does `ContainerName` means here?

Say you implement `set scopes source cookie foo`, what happens on the "wire"? Do you expect the plugin to add something to the cookie?

How do this relate to "header injection"? https://authp.github.io/do

[2022-03-10 17:26] srijan opened #71 "question: Unable to setup local + basic auth"
Hi.

I was trying to setup local auth which supports optional basic auth as well. (I think this is supported, but not sure).

Here's my Caddyfile (replaced my domain with example.com below)

[code]

This is working as expected if I open example.com/private/ from my browser - it's redirecting to auth.example.com and redirecting back after successful authentication.

But, if I try using basic auth u

[2022-03-10 17:40] greenpau commented on #71
@srijan, thank you for the issue! 👍

The error your are getting stems from `with basic auth realm local`.

https://github.com/greenpau/go-authcrunch/blob/587eeac3858fd923b1a44da21c194dffb500ccf3/pkg/shared/idp/provider.go#L56-L64

Try changing it to just  `with basic auth`.

Side note, I recommend to change the route handling in this way.

[code]

Please test and reply back. I don't expect it to w

[2022-03-10 17:56] srijan commented on #71
How would it know which realm backend to use?

Anyway, I tried the above change, also tried the route handling changes as you suggested, but same result and same error in the logs.

[2022-03-10 19:10] greenpau commented on #71
@srijan , I will take a look at (and test) the code this week. Busy at work.

Generally speaking, the realm is derived from `backend local /config/users.json local`.

[2022-03-11 12:21] dbranco-sdc commented on #70
@greenpau, thanks for your triage and quick answer!

The use case we had is the following:

In caddyfile:

[code]

Now it was required that when we have some other info from the customer we need to require more scopes. So, we were forced to add backends with 2 other realms in case the flag2 is alone or with the flag1, 2 more authorizations, 2 more routes to ask for the flag2 query parameters....

[2022-03-16 13:19] agucova opened #72 "Can't enable local authentication setup"
**Describe the issue**

Hi,

I'm trying to replicate https://github.com/authp/authp.github.io/blob/main/assets/conf/local/Caddyfile but I keep getting server timeouts on all authentication domains.

This is caddy latest built from the page with caddy-security under Linux ARM64.

The logs themselves aren't really helpful, and seem completely normal.

My objective is to have an authentication domain

[2022-03-18 08:58] NilsOlavKvelvaneJohansen commented on #71
Hey again! I get the same problem with basic auth. I tried changing it to just `with basic auth` but I still get the same:
`
1.6475936945092561e+09  debug   security        token validation error  {"session_id": "", "request_id": "e220eda4-4c4a-43aa-8e88-a6653ffc9d52", "error": "idp catalog: provider context does not registered"}"`Caddy log:

Thanks.

[2022-03-18 19:04] PeterB513 opened #73 "question: Use yubikey with caddy"
I just want to use a yubikey to authenticate my login to a website using Caddy. Nothing more.  don’t need the other stuff which is presented in the plugin, sorry. Basically I am looking for a small and simple implementation. Is this possible with your plugin and what is an example of code of the Caddyfile. Thanks.

[2022-03-18 20:40] greenpau commented on #73
@PeterB513 , thank you for the issue. I will try finding time answer your question this weekend.

We’re you able to set up auth with password and Yubico key? Do you have a working config?

[2022-03-19 02:04] dwaynelarose opened #74 "Can't get local authentication to work"
I am just trying to understand how this plug in works but I am not having much luck.
I am using caddy-security wrapped up in a dockerfile.

My normal Caddyfile that forwards user to my Guacamole server with this setup but my updated Caddyfile does not work

**Configuration**
Updated Caddyfile
[code]

[code]
**Version Information**
/srv # caddy version
v2.4.6 h1:HGkGICFGvyrodcqOOclHKfvJC0qTU7vny/7F

[2022-03-19 02:32] jpbaril opened #75 "question: Oauth2 with Ory stack and Caddy-security"
Goal in short:
I want to have self-hosted Oauth2 authentication service to be used for SSO done by Caddy-security.

Now for the long non-concise explanation:
(First, sorry to bother you with my question because I'm just a hobbyist trying to have unnecessary SSO for self-hosted apps on his homelab.)

I have been playing with Caddy-security for the last two months and even though I was able to confi

[2022-03-19 02:35] greenpau commented on #74
@dwaynelarose , thank you for the issue! Did you have a chance to see how your config differs from a sample https://github.com/authp/authp.github.io/blob/main/assets/conf/local/Caddyfile

if not, please give it a try. If yes, I will draft a sample tomorrow. (Currently on mobile)

[2022-03-19 02:38] jpbaril commented on #74
The route should instead have some "authorize" directive, which in turn would bring the user to an url that would use some portal definition.

[2022-03-19 18:34] dwaynelarose commented on #74
I think I got it working with the following:

{
	http_port 80
	https_port 443
	debug

	order authenticate before respond
	order authenticate before redir

	security {
		authentication portal myportal {
			crypto default token lifetime 3600
			backend local /data/users.json local
			cookie domain mydomain.org
			ui {
				links {
					"Remote Access" https://mydomain.org/guacamole icon "las la-star"

[2022-03-20 23:56] ippocratis opened #76 "question: how can I build for arm64"
I'm running caddy on a raspberry pi400 running manjaro arm.
I'd love to try the 2fa feature.
Is the an arm64 version?
If not how can I build it?

[2022-03-21 00:11] greenpau commented on #76
@ippocratis , thank you for the question 👍

The `caddy` (together with its plugins) is build with [`xcaddy`](https://github.com/caddyserver/xcaddy).

Step 1: Build `xcaddy`:

[code]

Step 2: Build `caddy` with the plugins for arm using `GOOS` and `GOARCH` env variables:

[code]

[2022-03-21 00:11] #76 closed

[2022-03-22 15:02] teodorescuserban opened #77 "question: skip kid ckeck option?"
I am trying to authenticate to an (apparently) broken oauth2 server which does not provide the `kid` in the `id_token`.

The error in the logs is this:

[code]

I have verified the `id_token` (by enabling debug in the caddy config), it does not contain the `kid` - see the `id_token` header below:
[code]

PS: Github and gitlab configurations are working just fine, but I do get the `kid` in their `i

[2022-03-22 15:40] greenpau commented on #77
@teodorescuserban , thank you for the issue! 👍

* What is the server?
* Please enabled debug and paste the content of the token you receive. If it is not in the logs, enable https://github.com/greenpau/caddy-trace plugin and get it from the trace logs.

[2022-03-22 22:16] greenpau commented on #75
@jpbaril , thank you for the question! 👍

This is what I understood your are looking for this project to do:
* Store user identities in auth portal's local db (i.e. Caddy Security)
* Provide OAuth2.0 endpoint in the auth portal so you could issue client id and secrets to your apps. In turn, your apps would redirect users to Auth Portal and, upon successful auth, the users will be redirected back t

[2022-03-22 22:28] greenpau commented on #74
@dwaynelarose , awesome! 👍 Here are some additional things.

* Fix your `order` directives. Here is what you would need.

[code]

* You don't need the below if you are using default ports:

[code]

* If auth portal is the only route, you replace this:

[code]

with:

[code]

* Same idea is the a single route and authorization. (this probably did not work without `route`, b/c you were missing `orde

[2022-03-22 22:28] #74 closed

[2022-03-22 22:30] greenpau commented on #72
No response.

[2022-03-22 22:30] #72 closed

[2022-03-22 22:30] greenpau commented on #71
@srijan , @NilsOlavKvelvaneJohansen , starting working on it now.

[2022-03-22 22:41] greenpau commented on #69
@thermoscookies , generally speaking the following two policies are very similar.

[code]

The concept of Caddy [Snippets](https://caddyserver.com/docs/caddyfile/concepts#snippets) with parameters come to mind:

[code]

Then, you could shorten the cong by using `import` statement.

[code]

The `{args.0}` will be replaced with `DomainX`

The `{args.1}` will be replaced with `domainX.com`

The gist

[2022-03-22 22:41] #69 closed

[2022-03-22 22:56] greenpau commented on #60
@lbreitk , I would recommend using snippets **with args** to manage your configuration. Please see my explanation in https://github.com/greenpau/caddy-security/issues/69#issuecomment-1075722666

Additionally, you might find it helpful to use `labels`. See https://caddyserver.com/docs/caddyfile/patterns#redirect-www-subdomain

Note how creative you could get:

[code]

Where `authPolicy` is a snippe

[2022-03-22 22:56] #60 closed

[2022-03-22 22:59] greenpau commented on #56
Closing and moving to backlog for now.

[2022-03-22 23:22] greenpau commented on #66
@simaotwx , the claims are populated here, inside Caddy user Metadata.

https://github.com/greenpau/caddy-security/blob/800f3878242fb043045e10ac1d92643783f8128b/plugin_authz.go#L120-L132

You also need `authorize` prior to the `respond`:

[code]

Based on the code [here](https://github.com/caddyserver/caddy/blob/03b5debd958a324d5c00cc37f887130b0198e747/modules/caddyhttp/caddyauth/caddyauth.go#L91-

[2022-03-23 00:21] greenpau commented on #66
@simaotwx , confirmed. It works.

![image](https://user-images.githubusercontent.com/3826416/159597859-e42c2fd6-cb2e-4edc-a0e6-9c34ac6ad70e.png)

The config:

[code]

[2022-03-23 00:21] #66 closed

[2022-03-23 00:26] greenpau commented on #68
@zhirschtritt , thank you for the issue! 👍

What would that endpoint be?

My understanding is you want to have a "hook" into an "entitlement" system that would have role (or other info) info. Is that correct?

The idea would be that one could have Google, Microsoft, Github, etc. ... however, there will be some other system that would provide the "roles" to the users authenticated with public OAuth

[2022-03-23 00:43] greenpau commented on #70
@dbranco-sdc , apologies for the late reply. I think I understand the use case here.

* How would you inject the cookie into the user?
* What is the logic for the determination of the right scope?

Generally speaking, the issue is that there is no identity prior to users' authentication ... Also, say with Github or Google, you define your application and associated scopes. A user will be prompted

[2022-03-23 02:08] jpbaril commented on #75
To be honest, I'm not exactly sure.
Where the uncertainty arise for me is at what should be the best way to make apps work with some oauth2 service.

As I tried to explain, at first the idea was just to use a generic oauth2 provider so to have a "Log with [generic oauth2 provider]" button in Caddy-Security. The simplest/slimmest self-hosted option for that seemed to be Ory Hydra oauth2 provider. B

[2022-03-23 07:16] simaotwx commented on #66
Thank you very much, that's exactly what I needed!

[2022-03-23 08:30] teodorescuserban commented on #77
@greenpau, thank you for having a look at this!

- the server is a drupal with oauth2 server module (see [here](https://www.drupal.org/node/1938218)); it's pretty old but I have no control over it; it does have at least an issue about the kid not being added - see [here](https://github.com/bshaffer/oauth2-server-php/issues?q=is%3Aissue+kid) and [here](https://www.drupal.org/project/issues/oauth2_s

[2022-03-23 10:44] dbranco-sdc commented on #70
Hello @greenpau,

About your first question, the client will be in charge of setting the cookie or query param, and it will be forwarded to the caddy-security plugin.

About the second question, the responsibility will be entirely from the client who knows what is the business logic behind to require one or another scope, there will not be any business logic in caddyfile at this point.

To complem

[2022-03-23 14:16] greenpau commented on #71
FYI, found couple of issues:

1. API/Basic auth integration was not registering
2. The token issued by the API/Basic auth integration have `nbf` error: `Token is not valid yet`. This needs to be addresses with changes to `pkg/authn/idp_apikey_auth.go`.

Additionally, there will be a need to specify portal name, e.g. `localportal`

[code]

[2022-03-23 14:42] #71 closed

[2022-03-23 15:28] greenpau commented on #77
@teodorescuserban , perfect! 👍 Will work on it.

[2022-03-23 15:36] greenpau commented on #71
@srijan , @NilsOlavKvelvaneJohansen , you should be good to go with https://github.com/greenpau/caddy-security/releases/tag/v1.0.18

[2022-03-23 18:36] zhirschtritt commented on #68
Right, exactly. This way there can be a dynamic list of roles/claims that can be applied per-user without caddy or this plugin having to expose an api or durable storage mechanism for that.

Just a https GET endpoint specified in the config that accepts the jwt retrieved for the user (and probably a secret shared-key in the header that the endpoint can validate) that returns json of the the roles

[2022-03-24 15:38] greenpau commented on #77
Note to self ... if there are no key id, then we need to add logic for the handling "default" key ID (aka implicit kid 0)

https://github.com/greenpau/go-authcrunch/blob/8ef3221a880870a24415ca7c35445610d5c29b95/pkg/authn/backends/oauth2/configure.go#L501-L506

[2022-03-25 04:43] timkeeler opened #78 "question: Default authentication deny/block ?"
I'm new to caddy-security, so apologies if this is something obvious.

In the documentation example, I see how to `block` a particular email address. How would I go about implementing a default block for all users except the ones listed? I'm using Google OAuth2 and I don't want just anyone to authenticate to my page. I know I can implement `authorize`, but that still allows a user to get a token i

[2022-03-25 11:43] greenpau commented on #78
@timkeeler , thank you for the issue!

The transform matching is based on ACL matching https://authp.github.io/docs/authorize/acl-rbac#conditions

Have you tried “regex match email <REGEX>”?

[2022-03-25 13:14] greenpau commented on #68
Will call it this new subsystem `ClaimProvider` ...

FYI, I am splitting `backends` to (1) "IdentityStore" and (2) "IdentityProvider"

[2022-03-25 14:33] teodorescuserban commented on #77
[code]

the url is [this](https://dev.auth.ahconu.org/oauth2/jwk)

[2022-03-25 15:46] #78 closed

[2022-03-25 16:16] greenpau commented on #77
@teodorescuserban , great! If you don't hear from me by April 10th, please ping me here to remind.

[2022-03-26 15:04] zw7u9tru opened #79 "Wildcard subdomain portal auth - best practices question"
Hello,
My goal is to use a wildcard certificate and subdomains to protect some services.  I got something working, but I just wanted to post here for other people to reference and to make sure it is correct.

This would be for a home server that hosts simple things.

cheers and thank you for the great open source project!
[code]

[2022-03-26 19:06] greenpau commented on #79
@zw7u9tru , the handlers look good! 👍

Please consider helping with https://github.com/greenpau/caddy-security/issues/14#issue-1111599735

[2022-03-26 19:06] #79 closed

[2022-03-27 16:07] mouzzampk2014 commented on #73
Yes that would be great. I would really appreciate if you can post Caddfile example for this.

Thank you

[2022-03-28 11:28] ippocratis opened #80 "breakfix:ecurity: : failed database commit . read-only file system"
**Describe the issue**

cant create database users.json
**Configuration**

Paste full `Caddyfile` below:

[code]
v2.4.6 h1:HGkGICFGvyrodcqOOclHKfvJC0qTU7vny/7FhYp9hNw=
[code]

[2022-03-28 11:31] greenpau commented on #80
@ippocratis , based on the error message the issue is “  **read-only file system**“. Why do you think it could be solved programmatically?

[2022-03-28 11:37] ippocratis commented on #80
i `sudo chmod -R ugo=rw /etc/caddy/` and the error perssist
also changed the users.json dir to HOME
idk i'm out of ideas

[2022-03-28 13:27] greenpau commented on #80
@ippocratis , this is likely something very specific to raspberry and arm.

What is the full command you used to compile caddy? What environment variables did you pass to xcaddy?

[2022-03-28 13:34] greenpau commented on #80
@ippocratis , have you checked/asked on raspberry pi forum? https://forums.raspberrypi.com/viewtopic.php?t=149196

[2022-03-28 14:00] ippocratis commented on #80
@greenpau create the database under `/var/lib/caddy/users.json`
now it works
specifying ProtectSystem=false or ReadWritePaths= /etc/caddy did not work
i have no apparmor or selinux enabled
no idea why
anyway saving users.json to caddy $HOME in /var/lib/caddy/ works
now i have to find my way around with the plug-in setting things up
thanks

[2022-03-28 14:01] #80 closed

[2022-03-28 23:37] greenpau opened #81 "feature: messaging to a file directory"
I want to use messaging to a local file directory. Currently, only [email ](https://authp.github.io/docs/messaging/intro) is being supported.

Add Caddyfile directive:

[code]

The messages will be dropped under `rootdir`.

[2022-03-29 17:05] greenpau commented on #56
@hurrycaner , once you have your proposal ready (prior to coding), please post it here and I will reopen. There are changes happening right now related to backends: https://twitter.com/GreenbergTech/status/1507346211359100929

[2022-03-29 19:07] greenpau commented on #56
@hurrycaner , I am interested to see how your are planning to integrate that code in go-authcrunch. For example, I don’t want to create dependencies to external libraries (i.e. want to keep things pure), unless absolutely necessary.

1. What would Caddyfile look like?

2. What would it “attach” to, etc.

[2022-03-29 23:36] hurrycaner commented on #56
@greenpau thank you for your quick responses :)

1.
[code]

2. Well, each cache implementation would depend on some library, in the PR mentioned before, gomemcache was used, i was thinking about using https://github.com/eko/gocache, so the responsibility of handling cache won't be another thing to handle and maintain and will minimize dependencies, because it will interface cache handling, includi

[2022-03-30 01:19] greenpau commented on #56
@hurrycaner , here is the change separating backends into identity stores and providers: https://github.com/greenpau/go-authcrunch/commit/dc55c406743e49b8905c6ec6a94e7500b380f505

I still need to implement Caddy side of all of it ...

Understood. Will think about it ... what exactly are you planning to cache, e.g. identity provider of type OAuth - storing `state`?

[2022-03-30 04:10] greenpau commented on #70
@dbranco-sdc , could try doing it with query parameters. It would be very similar to loginhint query parameters.

[2022-03-30 08:21] ippocratis opened #82 "question: mfa to selfhosted services"
maybe i missunderstud the purpose of the plug in .
and most likely i missconfigured the Caddyfile
i'm not verry familiar with caddy
i love it coz it addds ssl's to my selfhosted services
i already reverse proxy them with it
so
what i want is to add mfa to them
as far as i can understand i access and secure myportal  with mfa
then i can add various links whick will lead to my varius sevices e.g. ne

[2022-03-30 09:12] greenpau commented on #82
@ippocratis , did you get chance to watch this video? https://youtu.be/poOkq_jb1B0

[2022-03-30 09:16] ippocratis commented on #82
@greenpau yes i can use aegis authenticactor to log in to myportal
what i dont understand is how to set up links so i can "launch" my "apps/services" from within the porttal
is that even posible?

[2022-03-30 09:25] greenpau commented on #82
Here is about creating links https://authp.github.io/docs/authenticate/ui-features#portal-links

you could also create “conditional” links based on user transforms https://authp.github.io/docs/authenticate/user-transforms#add-ui-links

is that what you need?

[2022-03-30 12:25] hurrycaner commented on #56
@greenpau I plan to store state, so i can use multiple instances of caddy with auth portal.

[2022-03-30 14:15] greenpau opened #83 "🔥 announcement 🔥: introducing identity stores and providers"
Will be abandoning the `backends` concept and  and introducing:

1. **IdentityStore** (Local & LDAP), and
2. **IdentityProvider** (OAuth/OpenID & SAML).

**Note**: The `method` keyword is going away. The `provider` keyword was renamed to `driver`.

## Identity Stores

Previously, your local config was a part of **authentication portal**.

[code]

Now, it is in its own category and getting attached

[2022-03-30 16:30] mariomare22 opened #84 "need help to getting started"
Hello!
I am trying to go through your video and using Caddy-security with local auth using the caddyfile you provided
https://gist.github.com/greenpau/dbfadd3c9fee21dbb0a0d3902a8d0ec0#file-localauth_caddyfile

I am currently running a fresh raspiOS with installed Caddy + caddy-security module.
I am having an error when starting Caddy using the sample.

is it possible to do a test using just the IP

[2022-03-30 16:34] greenpau commented on #84
@mariomare22 , thank you for the issue!

Could you please provide full log?

[code]

Based on the partial error, you are having issue with Caddy itself (tls plugin), not caddy security.

Additionally, I need to know versions:

[code]

[2022-03-30 16:40] mariomare22 commented on #84
WOW! thank you for your lightning fast answer
[code]
when entering the following I can access sandbox.local on https (with certificate warning) and the proxy redirects me correctly.
[code]

[2022-03-30 16:42] greenpau commented on #84
@mariomare22 , what is not working then?

[2022-03-30 16:45] mariomare22 commented on #84
The Caddyfile in the gist with localauth
https://gist.github.com/greenpau/dbfadd3c9fee21dbb0a0d3902a8d0ec0#file-localauth_caddyfile

[2022-03-30 17:08] greenpau commented on #84
@mariomare22 , if you took that file, how do you deal with `tls {env.HOME}/.local/caddy/server.crt {env.HOME}/.local/caddy/server.key`?

What is the error besides `Mar 30 18:17:47 sandbox caddy[7744]: run: loading initial config: loading new config: loading tls app module: provision tls: loading certificates: open /var/lib/cad>`?

[2022-03-30 17:10] mariomare22 commented on #84
I have no clue! this is exactly why I came here in the first place

[2022-03-30 17:14] greenpau commented on #84
@mariomare22 , I would recommend first getting things works without any security.

See here: https://caddyserver.com/docs/quick-starts/static-files

After you get it running, then add security aspects to it.

[2022-03-30 17:20] greenpau commented on #84
Yes. Just be conscious about the ports. In my config sample I  use 8443 and 8080.

[2022-03-30 17:47] mariomare22 commented on #84
[code]
With this configuration I can reach the reversed proxy with the hostname and with the IPs using https://
and the certificate (I guess) is self signed by caddy

[2022-03-30 18:16] ippocratis commented on #82
@greenpau
This issue #10 , the users convoys and your suggestions there helped me really helped  me out
Thanks

[2022-03-30 18:21] #82 closed

[2022-03-30 22:19] greenpau commented on #77
@teodorescuserban , the solution: If key id is not found in the header, then try the first available key.

[2022-03-30 22:56] greenpau commented on #77
@teodorescuserban , you should be good to go with `v1.0.19`. See https://github.com/greenpau/caddy-security/issues/83#issue-1186529107 for configuration changes.

[2022-03-30 22:59] #84 closed

[2022-03-30 23:35] ouuan commented on #83
Why is this a patch version bump? Does Caddy Security follow semver?

[2022-04-02 01:38] greenpau commented on #71
@srijan , @NilsOlavKvelvaneJohansen , FYI, I am changing syntax with next release:

[code]

https://github.com/authp/authp.github.io/issues/6

[2022-04-03 03:21] tpansino commented on #83
@greenpau, first of all thank you for the great project. 🙏 It's because this project is so excellent that I'd like to offer some polite feedback on how this breaking change was released.

First, you mentioned that this probably warranted a minor version bump. I don't see anything in the README that says explicitly that you're following [Semantic Versioning](https://semver.org/), but if you are (an

[2022-04-03 03:35] tpansino commented on #29
Hey @greenpau, have you seen [Authelia](https://github.com/authelia/authelia)? It's a Go-based authx server/IdP that's currently adding OIDC Provider support as well. I figured I'd mention it here in case you need reference material.

Mind you - fully implementing an OIDC Provider is not trivial. Authelia broke the feature implementation into 6+ phases on their [Roadmap](https://www.authelia.com/d

[2022-04-03 09:19] teodorescuserban commented on #77
@greenpau, I had some time to test it out (I built with version 1.1.1)
After amending the config with the new format I am still unable to login, getting once again the caddy-security "Unauthorized" window and in logs ```"error":"failed validating OAuth 2.0 access token: OAuth 2.0 id_token email claim not found"```

Any idea? :(

The full config below (tried without success to comment out or remove

[2022-04-03 11:33] greenpau commented on #83
@tpansino , thank you for the feedback. i will update the notes related to provider/driver. I am glad it worked out for you.

Next time, prior to diving deep into the source code, please open an issue. I will be able to analyze it faster and offer advice. Additionally, I would be able to amend/add docs to offer better documentation. (E.g. I still need to update configs in authp website). If I don’

[2022-04-03 11:54] greenpau commented on #77
@teodorescuserban , the token you are getting from oauth provider, actually contains one or more other tokens: id_ token and access_token. The error you are getting is from that nested access_token.

Will check how to address this today.

[2022-04-03 13:11] greenpau commented on #77
@teodorescuserban , I will add a configuration parameter to disable the email check shortly.

https://github.com/greenpau/go-authcrunch/blob/706707308213fddfe4884454e38247217d493d3e/pkg/idp/oauth/validator.go#L93-L95

[2022-04-03 13:35] greenpau commented on #77
@teodorescuserban , please use https://github.com/greenpau/caddy-security/releases/tag/v1.1.2 and add `disable email claim check`

[code]

Please test and report back.

[2022-04-03 14:38] greenpau commented on #62
FYI, added `disable email claim check` configuration option in https://github.com/greenpau/caddy-security/releases/tag/v1.1.2

[2022-04-03 14:41] greenpau commented on #73
@mouzzampk2014 , there is no special configuration for the use of Yubikey as a second factor. You just need to add it to your user profile. Please see Login with App Authenticator and Yubico U2F [Video](https://youtu.be/poOkq_jb1B0)

This specific issue is about making U2F token the only authentication requirement.

[2022-04-03 14:55] greenpau opened #85 "🔥 announcement 🔥: introducing user registration section"
Will be abandoning the `registration` inside `portal` section. Instead the registration will have its own configuration section.

This change will be released in: `v1.1.2`

***Note*** if you are not using user registration, then this is not a "breaking" change.

Previously, your  `registration` config was a part of `authentication portal`.

[code]

Now, it has its own section. Here, the user regis

[2022-04-03 18:22] tpansino commented on #85
@greenpau - is this a breaking change? Will my Caddy instance break if I download this plugin without updating my config file first?

SemVer isn't about versioning your API endpoints (I don't, but I do follow SemVer). It's about communicating to users when you're breaking a previously-establish contract they depend on. That includes changing a config file parser.

Without that, you're expecting us

[2022-04-03 18:39] greenpau commented on #85
@tpansino , if you are not using user registration, then it is non-breaking.

When you build caddy, you can lock a specific version of a specific plugin. This way, your will be locked to whichever version you choose.

https://github.com/greenpau/caddy-security/blob/059a464f90b0de31d352dfa6bbfb3eee2daa2908/Makefile#L17-L19

It works the same when you use Caddy download page.

![image](https://user-

[2022-04-04 08:28] teodorescuserban commented on #77
Nope, getting this error:

[code]

I looked [here](https://github.com/greenpau/caddy-security/compare/v1.1.1...v1.1.2#diff-e191c87a3ffc310ddb1545ab6798b0b8c82668880948167cb7997368bd4292a6R136) and tried `disable key verification` to see if I get errors. I do not. Probably something else missing to deal with the `email_claim_check_disabled` case?

[2022-04-04 10:25] greenpau commented on #77
@teodorescuserban, please verify you are using the latest release of caddy security.

https://github.com/greenpau/go-authcrunch/blob/68b0339e49c65753d54cb144222becd6807e52aa/pkg/idp/oauth/config.go#L89

[2022-04-04 10:26] greenpau commented on #77
@teodorescuserban , looking into it.

[2022-04-04 12:48] greenpau commented on #77
@teodorescuserban , side note. reverse the order.

[code]

[2022-04-04 12:53] greenpau commented on #77
@teodorescuserban , found the error! Will patch and release shortly.

[2022-04-04 13:09] greenpau commented on #77
@teodorescuserban , it does not. Nevertheless, it shows the intent.

[2022-04-04 13:20] greenpau commented on #77
Just to be clear. The `order authenticate before respond` has nothing to do with `authorize`. The `order authorize before basicauth` is what prioritized the `authorize`.

[2022-04-07 10:48] rubinghv opened #86 "breakfix: Trouble with Token Verification through Organizr tokens: "reason: no token found""
**Describe the issue**

I want to use Caddy to use a logged in [Organizr](https://docs.organizr.app) user to validate access to various subdomains. I'm using [Token Verification](https://authp.github.io/docs/authorize/token-verification) for this.

Caddy has [some documentation](https://docs.organizr.app/features/server-authentication) on how to get the Name/UUID of the token and the secret/hash (

[2022-04-07 19:33] greenpau commented on #86
@rubinghv , thank you for the issue! 👍

Did you have a chance to go over https://github.com/greenpau/caddy-security/issues/9 ? If not, please do and let me know what is the difference between it and yours.

[2022-04-08 07:20] teodorescuserban commented on #77
ping @greenpau for Monday 😄

[2022-04-08 17:03] rubinghv commented on #86
Ah cool, didn't notice that issue before (Google doesn't seem to index GitHub issues well, or at all)

Looks like it worked first time after doing changes you suggested! Let me know if below Caddyfile makes sense and if there's anything I'm overlooking. I'll try to make sure Organizr documentation gets updated :)

My updated Caddyfile:

[code]

Thanks a lot!

[2022-04-08 17:08] rubinghv commented on #86
Yeah it's working as intended! Just wanted to post the Caddyfile for posterity and to check if there's anything that doesn't make sense

[2022-04-08 17:08] #86 closed

[2022-04-08 18:35] greenpau commented on #86
@rubinghv , awesome! 👍  Here are some insight about your config.

[code]

The `cookie header query` instructs the plugin to search for the token in these places and in the order they are listed.

If you are using only Authorization header, then consider trying:

[code]

**Note**: Please consider contributing https://github.com/greenpau/caddy-security/issues/14

[2022-04-09 12:28] helmut72 commented on #85
The examples should be also updated:
https://raw.githubusercontent.com/greenpau/caddy-security/main/assets/config/Caddyfile

Of course configurations changes from time to time. But it looks like it's a bigger refactoring. I think it's my 3rd reconfiguration in just some weeks. ;) Do you have a road map when it's finished?

[2022-04-09 12:32] greenpau commented on #85
@helmut72 , this would be the last one big refactoring for some time! 😃 Hopefully, I will finish it this weekend. It is just super tedious work converting stuff to be interface-driven.

Next, I will be working on redesigning UI. There will be no configuration changes there.

[2022-04-09 12:40] helmut72 commented on #85
Thanks for info 😀

[2022-04-10 17:41] greenpau commented on #77
@teodorescuserban , you should be good to go now! I work on this stuff only on weekends or after work. This week was busy and did not get a chance to finish the work.

If this does not work, please re-open 🤣

[2022-04-10 17:41] #77 closed

[2022-04-10 23:25] greenpau commented on #56
@hurrycaner , I am switching to “interface-driven” development here. This means that “go-authcrunch” repo would accept the registration of interfaces and the processing logic will happen in the implementation of the interface.

You will implement the interface in “hurrycaner/mycaching”solution. The “caddy-security” will have a parser that will import the “ hurrycaner/mycaching” and would register

[2022-04-11 09:40] teodorescuserban commented on #77
Awesome, @greenpau it is indeed working with the latest tag.

If I may, there is one issue piece of the puzzle that is left for me and that is how do I inject custom headers to downstream from the userinfo.

And of course, I would really like to be able to use those details in the caddy auth policies.

Should I open a new issue or just reopen this one to keep the whole history?

Thank you so much

[2022-04-11 11:13] greenpau commented on #77
@teodorescuserban , please open separate issues for the above.

[2022-04-11 15:57] teodorescuserban opened #87 "question: inject headers from userinfo object"
@greenpau, thank you for your awesome work!

Everything seems to be working correctly talking to a quaint oauth2 server.

To have a complete and useful setup, there is one piece of the puzzle that is left for me and that is how do I inject custom headers to downstream from the userinfo object.

And of course, I would really like to be able to use those details in the caddy auth policies.

In my se

[2022-04-11 16:13] greenpau commented on #87
@teodorescuserban , please browse to `/whoami` endpoint in auth portal and paste what you see there. It is the parts that you see  there that could be injected in.

[2022-04-11 16:19] teodorescuserban commented on #87
@greenpau, ok, the info I am looking for is not in there and after sweeping though caddy-security and go-authcrunch, I think this ticket should be moved to a feature request rather than a question... because I suppose there is no easy way to grab those details from userInfo and pass them downstream...

[2022-04-11 16:28] greenpau commented on #87
@teodorescuserban , that I understand 😃 Nevertheless, I need to see it. What we would need to do is bring some fields from OAuth token into auth portal token. That would require some work.

[2022-04-11 16:29] greenpau commented on #87
@teodorescuserban , I also need to see all the tokens passed in OAuth session. Please email me at `greenpau<>outlook.com`.

[2022-04-11 16:47] teodorescuserban commented on #87
@greenpau, thank you, I just sent the info requested.

[2022-04-12 04:55] Matchlighter opened #88 "breakfix: Caddy-Served OAuth Backend Error"
I'm trying to setup a Caddy instance that reverse-proxies for many services (including my SSO), some authenticated and some not. I'm running into an issue getting Caddy to start however. It looks like this plugin is trying to fetch the OAuth2 metadata URL, but doing so before letting Caddy continue it's init. Since that URL is served by the same Caddy instance, and this plugin is trying to query t

[2022-04-12 06:15] greenpau commented on #88
@Matchlighter , please upgrade to the latest and change
your config. Examples are available at https://github.com/authp/authp.github.io/blob/main/assets/conf/oauth/generic/Caddyfile

[2022-04-12 06:17] greenpau commented on #88
@Matchlighter , there is a delayed start feature https://github.com/authp/authp.github.io/blob/15f5aa5c832f25f689a01efb07243fcfad12bccc/docs/authenticate/oauth/82-backend-oauth2-endpoint.md#oauth-20-endpoint-delayed-start

[2022-04-12 11:42] greenpau commented on #87
@teodorescuserban , got it 👍

[2022-04-12 22:44] Matchlighter commented on #88
Oh, that's interesting - I just downloaded from https://caddyserver.com/download yesterday - I wonder why it didn't give me the latest... I'll pull that and give those options a try - thanks!

[2022-04-13 00:04] greenpau commented on #88
@Matchlighter , 👍

[2022-04-13 02:36] greenpau commented on #88
@Matchlighter , please post your final config so that others could benefit from it.

[2022-04-13 03:31] Matchlighter commented on #88
[code]

[2022-04-13 08:49] teodorescuserban commented on #87
@greenpau, as an additional info, I am curently using [vouch](https://github.com/vouch/vouch-proxy) to talk to the oauth server and the key to get those groups is the `VOUCH_HEADERS_CLAIMS: email,name,groups` env var injected in vouch container. Hopefully this helps.

[2022-04-13 15:02] greenpau commented on #87
@teodorescuserban , yes, it is along the lines of my throughts.

I would need to create a new directive:

[code]

Hopefully I will find some time to do it this weekend.

[2022-04-14 04:53] teodorescuserban commented on #87
This is so assertive and cool.
Hopefully nobody needs to extract the field `from` 😄
Looking forward to it.
Thank you!

[2022-04-14 09:05] Hoempi opened #89 "Password entry not shown"
**Describe the issue**

I started with trying to mix the different examples from readme.md and /assets/config/Caddyfile to match my use case. But after entering the username in the portal the next screen shows "Unauthorized". This is happening regardless whether I use a username found in users.json or some random characters.

![grafik](https://user-images.githubusercontent.com/40570297/163352713-8

[2022-04-14 18:08] greenpau commented on #89
@Hoempi , try running this solution with this image https://github.com/greenpau/caddy-security/pkgs/container/authp and let me know the outcome.

1. Are you using HTTP or HTTPS for accessing the portal?

2. Have you considered setting path to `/assets/config/users.json`?

[code]

---

Side note: Have you considered using snippets?

[code]

would be something like:

[code]

Also, please perform `ca

[2022-04-14 18:25] greenpau commented on #89
@Hoempi , in case you run HTTP:

[code]

[2022-04-15 06:23] Hoempi commented on #89
First of all: thanks for the quick reply and all the pointers. I'm pretty new to Caddy.

Unfortunately still the same.

HTTPS

If you mean in my docker compose file, yes:
`- /volume1/docker/caddy/assets:/srv/assets`
And like mentioned my predefined username shows up there.

I was not aware of them, I'll definitely will look into it. Thanks a lot!

The result is
`/srv # caddy format
[ERROR] 'format

[2022-04-16 17:59] bdr99 commented on #85
I think the documentation here needs to be updated: https://authp.github.io/docs/authenticate/local/user-registration

With the new registration section, is it required to use an email provider? The old example didn't use an email provider, but it seems it is required now. When I try to set it up without an email provider, I get this error:
`reload: adapting config using caddyfile: parsing caddyfi

[2022-04-16 18:20] greenpau commented on #85
@bdr99 , thank you for pointing it out. Please create an issue in https://github.com/authp/authp.github.io/issues/new for tracking

Yes, please see complete example:

https://github.com/authp/authp.github.io/blob/main/assets/conf/local/registration/Caddyfile#L38

[2022-04-16 18:35] bdr99 commented on #85
Thanks! Will open an issue in the website repo.

Is there a reason why it was changed to be tied to an email provider? This seems like a bit of a step backward, since it was possible before to configure registration without an email provider. It's not a big deal to me, but I'm just curious of the reasoning that went into this change.

[2022-04-18 00:06] greenpau commented on #87
@teodorescuserban , I will be injecting OAuth userinfo to `userinfo` field in the token:

![image](https://user-images.githubusercontent.com/3826416/163736991-5d18bfe9-2d9e-46d6-9f9a-885addfe146e.png)

I here is my current config:

[code]

[2022-04-18 00:57] greenpau commented on #87
Here is how it looks like with partial fields from `userinfo`:

[code]

![image](https://user-images.githubusercontent.com/3826416/163739033-8b3bc6da-b20e-4f0a-b971-ed1d9efeebc6.png)

[2022-04-18 01:44] greenpau commented on #87
Next, I want to inject `userinfo.custom_groups` to HTTP headers.

Starting point: https://authp.github.io/docs/authorize/headers#custom-headers

Currently, with the following injection

[code]

I get

![image](https://user-images.githubusercontent.com/3826416/163741203-f42d38cb-af0a-4a8d-9803-e9da4f1a896a.png)

Next, let's try traversing the map.

The desired state is being able to inject nested d

[2022-04-18 05:14] greenpau commented on #87
@teodorescuserban , please test with [v1.1.4](https://github.com/greenpau/caddy-security/releases/tag/v1.1.4). If it does not work, please email logs to me.

[2022-04-18 05:25] #83 closed

[2022-04-18 05:25] #85 closed

[2022-04-18 05:27] greenpau commented on #89
Try:

[code]

[2022-04-18 05:28] greenpau commented on #89
idk.

[2022-04-18 05:29] greenpau commented on #81
Completed.

[2022-04-18 05:29] #81 closed

[2022-04-19 08:11] teodorescuserban commented on #87
@greenpau, this looks amazing! I was able to configure everything successfully! Thank you!

[2022-04-19 08:11] #87 closed

[2022-04-19 08:21] teodorescuserban commented on #87
Post thoughts:

My previous solution used vouch and nginx auth-request.

The authorization worked by having nginx do an internal auth request to `/validate` which would proxy the request to vouch.
This way, there were no sensitive headers passed back and for the the client and the upstream, therefore the headers could not be forged. I am wondering if there is any way to have the nginx auth request

[2022-04-19 11:35] greenpau commented on #87
@teodorescuserban , 😄 new issue

Also, please add a diagram to your explanation.

[2022-04-20 08:24] axi92 commented on #21
Is keycloak working right now with this? I was not able to find anything. We use keycloak with our own apps to authenticate and authorize.

[2022-04-20 12:18] greenpau commented on #21
@axi92 , it works. i just don’t have access to keycloak console to take screenshots.

[2022-04-20 12:32] axi92 commented on #21
I could provide you a fresh instance? Would that help? I can just spin one up on my vps and give you the credentials, when you are done I delete it =)

[2022-04-20 13:11] greenpau commented on #21
@axi92 , yes. That works 😄 Please email me at greenpau at outlook.com

[2022-04-20 13:53] axi92 commented on #21
@greenpau you got mail =)

[2022-04-20 20:17] rubydotexe opened #90 "How do I configure CORS in Caddy security so that I can sign in less frequently?"
Hello again!

This is the behavior I'm having trouble with:

Basically, when I am using FoundryVTT the connection to my assets disconnect until I sign in the Caddy Security portal again. Problem is that this happens frequently. When I refresh the tab, I am sent to the auth portal, I sign in, and the problem is resolved for about less then five minutes where then the cycle repeats.

I checked the J

[2022-04-20 20:44] greenpau commented on #90
@rubydotexe , thank you for the question! 👍

Here are some snippets relevant to your CORS configuration:

[code]

Please provide output of the following command. Let's see what headers it returns.

[code]

It would be very interesting how the `options` and `cors` imports unwrap.

[2022-04-21 11:41] Hoempi commented on #89
I did that, but only some empty lines were deleted, nothing else.

I just got a RPI3 setup with DietPi and Docker Compose. So I will try to start from scratch on that one with only the stuff for the auth portal itself and then adding the other services step by step.

I will get back to you, as soon as I found out something or have a new Caddyfile which works. Thans for the help so far, really appr

[2022-04-21 13:11] rubydotexe commented on #90
Hello Mr. Greenburg! I appreciate your time very much.

This is my Caddyfile now:

[code]

And this is what I got in response to curl -v http://auth.example.com:

[code]

And just out of curiosity  I curled HTTPS as well:

[code]

[2022-04-21 22:55] greenpau commented on #90
@rubydotexe , for testing, please do the following:

[code]

Then `curl` the following way:

[code]

[2022-04-22 00:17] greenpau commented on #21
@axi92 , thank you for your help! It is now done. https://authp.github.io/docs/authenticate/oauth/backend-oauth2-0011-keycloak

[2022-04-22 00:17] #21 closed

[2022-04-22 00:18] greenpau commented on #21
My config:

[code]

[2022-04-22 13:36] rubydotexe commented on #90
Here you go:

[code]

[2022-04-24 08:26] sakisv opened #91 "Check organisation membership in github oauth"
Hi 👋

I have github org and I've created a Github App to use with caddy-security. Right now I'm using the approach described in the examples[^1] and it works fine 👍

However, instead of having to maintain a list of approved users, I would like to check they are member of my organisation and allow them if they are.

Github seems to have a way of doing this[^2] but I don't know if it's relevant and

[2022-04-24 11:47] greenpau commented on #91
@sakisv, i don’t use github organizations. If you an organization with multiple users, please email me your setup privately (you would need to create a new app for testing and provide me with client id/secret, etc.) and I will try figuring out how to make it happen.

[2022-04-24 12:04] greenpau commented on #91
@sakisv , I do similar thing with Gitlab. https://authp.github.io/docs/authenticate/oauth/backend-oauth2-0009-gitlab

I also think that what you are asking already exists, but undocumented. It is somewhere here: https://github.com/greenpau/go-authcrunch/blob/63fee4d8534d935a06882539d35c2148b3bb7dbe/pkg/idp/oauth/user.go#L266

[2022-04-24 16:18] rubydotexe commented on #91
I don't know if this is helpful, but I created an organization and made a GitHub app under the organization. I then added my members. Upon testing, the GitHub portal automatically only allowed organization members, I didn't need to do any additional configuration. Or at least, when I tested it with a dummy github account that wasn't in my org, they weren't able to log in.

[2022-04-25 12:25] axi92 commented on #21
I try to follow your documentation.

We have right now an older version of keycloak (14.0.0) so the behavior may be different.

1. If I disable all providers except the rsa-generated. When I disable the mac-* i get logged out and when I login again there is a new mac fallback provider with priority -100. Maybe the version that we use in production is having this feature and it was removed in an up

[2022-04-25 12:40] greenpau commented on #21
@axi92 that environment variable should be set to what you want. It has nothing to do with keycloak. Rather it is the shared key for encryption of the tokens issued by auth portal.

https://github.com/authp/authp.github.io/blob/main/assets/conf/oauth/cognito/caddy.env

[2022-04-25 12:43] greenpau commented on #21
you actually don’t have to delete all of them. It was just easier for me to get it working with RSA. The realm configuration was the hardest to figure out.

now, please make sure that you review my screenshot with your setup, especially advanced opeid config.

[2022-04-26 07:09] renaisun opened #92 "breakfix: Redirect error when auth url and redirect url differs"
**Describe the issue**

Hi , thanks for your work on this awesome project.
I tried to use `caddy-security` protect one URL `secure.example-b.com`. I think it's common to have multiple domains and you want them projected using only one authentication portal. But authentication doesn't work as expected. The log is attached below.
P.S. I also tried to comment out `cookie domain example-a.com` `cookie

[2022-04-26 11:04] greenpau commented on #92
@renaisun , awesome question! 👍 Will reply later today.

[2022-04-26 11:38] greenpau commented on #92
The domain replacer will happen somewhere here https://github.com/greenpau/go-authcrunch/blob/a5b963eb987c5671b95c67819b6b313695951791/pkg/authz/authenticate.go#L194

[2022-04-27 10:22] Hoempi commented on #89
Okay, moving to that RaspberryPi did the trick. I'm now getting the prompt and am able to log in. I got the notion because before I was running it on my Synology NAS and I already stumbled about other projects mentioning that some stuff inside Docker on Synology is not working as it should.

Once I get my configuration on the RasPi to my liking I will test that config on the NAS again, just to mak

[2022-04-27 10:22] #89 closed

[2022-04-28 16:29] rubydotexe commented on #90
The console errors are at least slightly different, but I'm still having to login at short intervals.

[code]

[2022-05-01 19:42] wnke opened #93 "using custom claims"
Some oauth providers allow adding custom claims such as [auth0](https://auth0.com/blog/adding-custom-claims-to-id-token-with-auth0-actions/)

Is it possible to use this claims in match directives and also to inject them as http headers?

example
[code]
[code]

[2022-05-01 20:10] greenpau commented on #93
@wnke , please add “extract all from userinfo” and see whether oauth provider data propagates to the token displayed in “/whoami”.

also, please see  https://github.com/greenpau/caddy-security/issues/87#issuecomment-1101015496  , it looks like this is what your are looking for.

[2022-05-01 21:21] wnke commented on #93
Hey @greenpau !

thank for the hint! the `extract all from userinfo` really helped out!

with that directive enabled this now works
[code]

But this still will not:
[code]
Failing with the error:
[code]

Is the userinfo no available for matches?

[2022-05-01 21:40] greenpau commented on #93
@wnke , the "nested" field match is not supported yet. This would be a feature request.

[2022-05-01 21:43] greenpau commented on #93
@wnke , btw, the `match` is based on the same subsystem as authorization ACLs: https://authp.github.io/docs/authorize/acl-rbac#conditions

[2022-05-01 22:19] greenpau commented on #93
@wnke , generally speaking, the reason there is no nested matches is ... Your OAuth provider can have any of these four fields: `roles`, `groups`, `group`, `roles` at the top level of the token it issues. If found, the values from the fields will be added to `roles`. So ... configure your OAuth provider to send `groups` or `roles` field.

[2022-05-02 19:13] wnke commented on #93
Hey @greenpau !

Thank you very much for the tips and the interest in this ticket, it is very appreciated!

Unfortunately, at least for auth0, only namepaced custom claims are allowed making it impossible to add `roles`. I can only add something like `https://dogfy.com/roles`, to follow from example above.

From the [auth0 docs](https://auth0.com/docs/secure/tokens/json-web-tokens/create-namespace

[2022-05-02 20:16] greenpau commented on #93
@wnke , I will think how to best resolve it. Perhaps, I would add the following:

[code]

Please paste the token with `userinfo` field issued by auth portal.

[2022-05-02 20:17] greenpau commented on #93
@wnke , the image similar to this one: ![](https://user-images.githubusercontent.com/3826416/163739033-8b3bc6da-b20e-4f0a-b971-ed1d9efeebc6.png)

[2022-05-02 20:27] wnke commented on #93
That would be great!

Using the `extract all from userinfo` I got:

[code]

In this case I got the roles as a list as one user can have several.

[2022-05-02 20:30] greenpau commented on #93
@wnke , I will go with `extract https://example.com/roles from userinfo as roles list`

[code]

[2022-05-02 20:32] wnke commented on #93
This is fantastic! Thank you so much!

[2022-05-03 07:49] hahattan opened #94 "How to perform LDAP authentication/authorization via command line"
**Describe the issue**

I'm trying to create a proof of concept of using LDAP for authentication.
Most of the thing went well and I just got 2 questions:

1. How do I see "My Identity" after successfully login ? If I visit `localhost:2016` and login with LDAP username/password it'll lead me to a blank page. (I guess I miss something in my configuration)
I also tried to invoke the `/whoami` endpoin

[2022-05-03 22:50] greenpau commented on #94
Please see various configuration files based on this query: https://github.com/authp/authp.github.io/search?q=My+Identity

Specifically: https://github.com/authp/authp.github.io/blob/main/assets/conf/ldap/Caddyfile

The auth portal works on your `https` interface. What do you see when you browse to `https://localhost:2016/auth/`?

If your interface is HTTP, then you need to use `cookie insecure on

[2022-05-04 11:13] hahattan commented on #94
This solved both of my question, thanks for the help .

[2022-05-04 11:13] #94 closed

[2022-05-04 18:49] samcro1967 opened #95 "breakfix: CHANGE_ME"
**Describe the issue**

Trying to convert to wildcard certs.  Used #79 to make changes to Caddyfile.  Not getting any errors in the log, but only get a white screen when I go to the login page (https://auth.{$FQDN}.net).  The wildcard with CloudFlare works fine for my test app that is not behind mypolicy so I feel good that caddy, CloudFlare, and the wildcard cert is working.  Must have something

[2022-05-04 21:07] mholt commented on #95
[code]

Did you mean to close the global options block there?

[2022-05-04 21:29] samcro1967 commented on #95
Extra brace I left when I removed logging in that section before posting to shorten the config.  My Caddyfile is a few hundred lines.  Was trying to pare it down to just the essentials.  Below is the logging piece I removed which had the dangling brace.
[code]

[2022-05-04 21:32] greenpau commented on #95
@samcro1967 , what happens when you browse to “https://auth.%7B$fqdn%7D.net/auth/“

[2022-05-04 22:55] samcro1967 commented on #95
Below are the full configs of Caddyfile (minus caddy-docker-proxy labels) before and after.  If I understand #79 correctly, it does not have a /auth after the FQDN.  I tried both in the browser (with and without /auth) and get a blank white screen for both.  My test app (hammond) works fine in both the before and after configs.  I suspect trying to remove the /auth subdirectory is where I am getti

[2022-05-05 00:10] greenpau commented on #95
@samcro1967 , the one thing I am noticing is the mix of `handle`, `route`, individual directives (e.g. `redir`) and default route.

Please try removing all `redir` and `route` directives and report what you are getting.

Also, check why you have this redirect to login. It should go to `auth.samcro1967.net`:

[code]

![image](https://user-images.githubusercontent.com/3826416/166844437-0c115ff9-2184

[2022-05-05 00:48] samcro1967 commented on #95
I removed all redir's for the osu.* sections and updated the route statement to the below. When say say a mix of handle and routes, does that mean they cannot be mixed?  Will be quicker to convert the 2 handles I have to routes if that is the case rather than convert 50+ routes to handles.  I could just comment out all routes for testing and then convert and enable them to handles once I have it w

[2022-05-05 01:52] greenpau commented on #95
@samcro1967 , I don't know yet. However, I want to see whether then `handle` directives work. Thus, the removal of `route`, etc. The experience tells me it might matter.

Additionally, I recommend adding `https://github.com/greenpau/caddy-trace` everywhere you can and add different tags to see which handles, routes hit, e.g.

[code]

I am not sure whether `trace` works with handles, but you could

[2022-05-05 04:30] alirf81 opened #96 "How can I capture the access token and send request with authorization bearer?"
Hi!
Thank you for your contribution.

I am trying to use caddy-security with Keycloak as IDP and it seems like work well for browser login.
But I have some API clients and want to get access token and send request with authorization bearer set in header.

Can you kindly guide me how I can make this?

[2022-05-05 10:53] greenpau commented on #96
@alirf81 , here is info on bearer token https://authp.github.io/docs/authorize/token-discovery

and API auth https://authp.github.io/docs/authenticate/misc#authenticate

Is this what you are looking for?

[2022-05-05 12:34] alirf81 commented on #96
yes, looks great. thank you!
Btw, I have one more issue, it uses the JWT token and it seems a bit long.
Can we use any other token which is shorter?

[2022-05-05 12:57] greenpau commented on #96
@alirf81 , in settings, create API key for a user. Then enable API key usage on your authorization policy. https://authp.github.io/docs/authorize/basic_api_key_auth

After that, you can pass API key via X-API-Token header in a request.

[2022-05-05 13:32] samcro1967 commented on #95
I got it working with the CaddyFile below.  I removed all caddy labels and cut the config down until I can get this working.  I do see the trace for hammond in both caddy.log and access.log.  None of the other traces appear in either log.  I did have to add `order trace before handle` in the global block in order for trace to work at all.

I am able to get logged in now and can get to "My Identity

[2022-05-05 13:42] alirf81 commented on #96
1. Does JSON Authenticate API works when I use Keycloak IDP? https://authp.github.io/docs/authenticate/misc#authenticate
2. I cannot access setting page, I can see portal page in /auth/portals but cannot see setting page under /auth/settings
3. Are there JSON API for setting API token programmatically?
Kindly give me your comment pls.

[2022-05-05 16:48] samcro1967 commented on #95
I figured out where I went wrong.  I think I understand now how to convert routes to handles for both subdomains and subdirectories with wildcards and caddy-security.  The only piece that does not seem to be working as I would expect is trace.

[2022-05-05 16:51] greenpau commented on #95
@samcro1967 , I think I tested trace to work with routes. I never tested if with handles (i don’t use them). What is unexpected?

[2022-05-05 19:45] samcro1967 commented on #95
Yes, trace does not seem to work with handles.  Makes sense if they were not tested.

Handles also do not seem to work reliably or consistently.  I setup handles using the exact same syntax (copy and paste) for 4 subdirectories.  It worked for one and not the other three.  I switched the other 3 from handles to routes and they work fine.  So I can say mixing handles and routes does work when you c

[2022-05-05 20:30] greenpau commented on #95
@samcro1967 , I think this is connected to another issue https://github.com/greenpau/caddy-security/issues/92. Specifically, "I think it's common to have multiple domains and you want them projected using only one authentication portal.".  Your thoughts?

In short, there could some replacing of the `set auth url` directive, e.g.

[code]

[2022-05-05 20:50] samcro1967 commented on #95
My case is a little different.  #92 is about different root domains where as I am using the same root domain, but different subdomains.  Is it still relevant to my use case?  I do not see it as a big issue.  I will direct folks to the portal always, not directly to an app on a subdomain.

Snds like a future release may add some options to covert one or both of these use cases if I understand corre

[2022-05-07 01:17] greenpau commented on #96
@alirf81 , FYI, Keycloak docs are here: https://authp.github.io/docs/authenticate/oauth/backend-oauth2-0011-keycloak#realm-roles

No.

That page only works with "local" identity store. I have https://github.com/greenpau/caddy-security/issues/23 issue in my backlog. The gist is connecting OAuth-authenticated users to "local" identity store.

Not at the moment.

[2022-05-07 16:10] #96 closed

[2022-05-07 16:19] greenpau commented on #92
@renaisun , you cannot have cookies issued by “example-a.com” be used in “secure.example-b.com”, because the base domain is different.

also,  “example-a.com” domain cannot issue cookies to be used in “secure.example-b.com

[2022-05-07 16:19] #92 closed

[2022-05-07 17:26] greenpau commented on #91
Stale.

[2022-05-07 17:26] #91 closed

[2022-05-07 17:28] greenpau commented on #75
Unfortunately, I have no resources/time go dive deep into Ory stack integration.

[2022-05-07 17:28] #75 closed

[2022-05-07 19:19] greenpau commented on #93
@wnke , I tried many different things and none of them fit nicely into an existing design ... so ... If `userinfo` map has a key that ends with `roles` (`https://example.com/roles`) or `groups`, I am going to automatically take entries from there and place them into top level `roles`.

[2022-05-07 20:04] #93 closed

[2022-05-07 20:17] greenpau commented on #93
Documentation task: https://github.com/authp/authp.github.io/issues/19

[2022-05-09 02:11] renaisun commented on #92
Thanks for your answer. I've never realized about that.. 😢

[2022-05-09 13:07] sprkv5 opened #97 "question: Generic OAuth 2.0 Provider for Caddy 2"
Hello, I'm trying to test OIDC login for my day-job Org's IdP.

I have created an app and I have setup the redirect URI to http://localhost:8080/login

Here is the following Caddyfile that I am starting with to test the setup:
[code]
I am able to start the server and on navigating to http://localhost:8080/login, I'm just getting a white screen like so:
![image](https://user-images.githubuserconten

[2022-05-09 14:21] sprkv5 commented on #97
Hello @greenpau,

Thank you for suggesting so fast! :)

I still don't see a different screen with `cookie insecure on` .

I am able to see the metadata document gets retrieved on server startup though:
[code]
The plugin now knows the authorization endpoint but does not redirect to it. Clickin on generic link takes me to http://localhost:8080/oauth2/generic

Just to confirm, by redirect URI did you

[2022-05-09 15:01] greenpau commented on #97
@sprkv5, I need to see the entirety of the log you see in the console, i.e. the entire log ... from start of the server to the rejection of the user.

The `1` is derived automatically ... My hunch is that your OAuth server does not like you using `http` (non-https).

The `2` is derived based on the metadata it fetches.

So switch to using https.

[2022-05-09 15:06] sprkv5 commented on #97
Can the logs be provided via DM/mail since it does contain sensitive information?

[2022-05-10 13:24] teodorescuserban commented on #87
@greenpau, sorry for delay, got tangled in other things. I tried to forge the custom headers from the client and it looks like they are not making it to the backend server, so I think all is good! I really liked the last change with automatically adding the roles fields from userinfo into the roles, awesome!

[2022-05-11 13:58] alirf81 opened #98 "question: OAuth with Keycloak"
I am using Keycloak as IDP.

https://github.com/authp/authp.github.io/blob/main/assets/conf/oauth/keycloak/Caddyfile
This configuration works well but I have a question here,

Can I use Keycloak's JWT after authentication?
As I understood, after authentication, caddy-security issues its own JWT which would be used in authorization.
Can I configure it to use Keycloak's JWT in authentication and dec

[2022-05-11 15:21] greenpau commented on #98
@alirf81 , no.

[2022-05-11 15:21] #98 closed

[2022-05-15 09:48] iamjrock opened #99 "question: Single Identity Store granting access to one or more Domains/sites"
I have searched the docs and could not find an example of this. Apologies in advance if I have missed it.

Scenario:
1) A single caddy instance that hosts (say) 10 completely different sites/domains.  So 10 site blocks in the Caddyfile.
2) A single identity store (let's assume SAML or LDAP) that provides:
  - User Authentication details; &
  - A list of domains that this user has access to once au

[2022-05-15 10:00] iamjrock opened #100 "feature: Update identitities from local users.json upon 'caddy reload'"
From my testing it seems that caddy-security:

- DOES pick up identities from users.json at Caddy startup
- Does NOT pick up identities from users.json upon executing 'caddy reload'

This means that when using the local identity provider we must bring down the site with a caddy restart upon adding/removing/users.

Ideally 'caddy reload' would also reload the local identities.

n/a

[2022-05-15 10:11] iamjrock opened #101 "question: Native way to hide the 'Contact support' link on Login page?"
On the Login page there is a "Contact support" link to /auth/help.

To hide the link we could inject custom css/js (`custom css/js path ...`) OR provide a custom login template (`template login ...`).

However, is there a _native_ way to hide or edit this link without css/js/template customisations?

[2022-05-16 13:14] greenpau commented on #100
@iamjrock , I will look into it.

This is partially related to https://github.com/greenpau/caddy-security/issues/51

[2022-05-16 13:15] greenpau commented on #101
@iamjrock, this is a feature request. I am actually in the process of redesigning some of the templates. So ... will add an option to hide the link.

[2022-05-16 18:30] LeonardMeyer commented on #90
@greenpau I have the exact same problem. I tried playing around with the CORS setting in my Caddyfile but to no avail. I have the HAR archive if you need it, what's your email ?

[2022-05-16 18:34] greenpau commented on #90
@LeonardMeyer , greenpau|outlook.com

[2022-05-16 18:42] LeonardMeyer commented on #90
Sent ! For context I have a Caddy container reverse proxying to subdomains pointing to several other containers .

[2022-05-16 22:06] wnke opened #102 "Curl /whoami vs using browser"
Hello!

When curling the /whoami endpoint like on the [example](https://authp.github.io/docs/authenticate/misc#user-identity) it is missing the userinfo field but it shows when using the browser to access the page.

Is there any endpoint to get the userinfo? Or should I get it via other mechanism?

Kind regards

[2022-05-16 23:06] LeonardMeyer commented on #90
@greenpau Actually trying your last suggestion got me forward. I added the `Access-Control` headers one by one as I was told they were missing from the browser console. Then I ended up having some generic CORS error with a `null` message like above. [MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#requests_with_credentials) ended up being pretty useful , especially "Preflight requests

[2022-05-16 23:18] greenpau commented on #90
@LeonardMeyer , you don't have to use wilcards. They are for testing only. Now, you can set whatever domain you need it to be.

See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin

[code]

[2022-05-17 09:59] LeonardMeyer commented on #90
@greenpau Nevermind, it looked better because I saw some preflight requests going through but it just took longer to fail. Browser console is saying things like:

I think it has something to do with the "Preflighted requests and redirects" part in MDN docs, and I think I'm screwed. Sent you another HAR file.

[2022-05-17 10:52] axi92 opened #103 "question: access rest api behind auth"
I got an application with an rest endpoint. I can login through  the ui and access the app. But I have not managed to do this via curl.
We use keycloak as the oauth plugin. With keycloak there are different tokens id and access token and I have not managed to get the right calls to get through the auth portal.

[2022-05-17 11:45] greenpau commented on #103
@axi92 , please provide your config and specify which route handles the rest endpoint.

[2022-05-17 11:56] PsychoZander opened #104 "breakfix: Auth Fails: reason: keystore: failed to parse token"
**Describe the issue**

Wanting to secure access to a http instance running behind a reverse proxy with MFA. Logging into Auth portal works fine, however during redirect to the application the Caddy server throws the below error:

```ERROR   http.handlers.authentication    auth provider returned error    {"provider": "authorizer", "error": "user authorization failed: src_ip=<>, src_conn_ip=<>, rea

[2022-05-17 12:09] greenpau commented on #104
@PsychoZander , please browse to `https://auth.mydomain.com/whoami` and paste what you see here.

[2022-05-17 12:11] greenpau commented on #104
@PsychoZander , also clear your cookies.

[2022-05-17 12:17] greenpau commented on #104
@PsychoZander , also you don’t need user transform that requires mfa. As soon as you add MFA via user settings, you will be prompted for it when authenticating.

[2022-05-17 12:40] greenpau commented on #103
@axi92 , when you curl to your API, you would need providing the token acquired via authentication portal. What is the curl command you are using?

[2022-05-17 12:53] PsychoZander commented on #104
Ah, flushing cookies has done the trick it seems.

Now working with my own generated keys as well. Feel a bit daft for not thinking about clearing cookies though.

Thanks for the help!

[2022-05-17 12:53] #104 closed

[2022-05-17 12:54] axi92 commented on #103
Yes the problem is how do I get the token from the auth portal?
I used this

[code]

[2022-05-17 12:58] greenpau commented on #104
@PsychoZander , it is ok. You were probably uber-focused on getting config right :-)

[2022-05-17 13:01] greenpau commented on #103
@axi92 , you do it like this https://authp.github.io/docs/authenticate/misc#authenticate

[2022-05-17 13:03] greenpau commented on #103
@axi92 , please search the docs on how to enable accepting bearer token.

Once you authenticate to the portal and get the token, you pass that token in “ -H 'Authorization: Bearer: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE2Mzg3MzgyMjEsImp0aSI6IlN6d2JiOXI5eG5NeVlHUE5IbGZHeklQVlc5VHVLY1VlcndMbmNHR1BtIiwiaWF0IjoxNjM4NzM0NjIxLCJpc3MiOiJodHRwczovL2F1dGgubXlmaW9zZ2F0ZXdheS5jb206ODQ0My9sb2dpbiIsIm

[2022-05-17 13:04] greenpau commented on #103
@axi92 , wait … the things I mentioned would not work with OAuth. Let me think and I will let you know how to go about it.

[2022-05-17 13:06] Frando opened #105 "question: different up headers by role"
Hi,
thanks for this project, it's working great for us!
I'm using a configuration with an upstream OpenID provider. I have configured two authorization policies that match on the roles returned from the OpenID provider. This works well, and I can make different resources accessible through these policies.

[code]
Now, I'm using a few admin-only resources with proxy header auth. E.g.
[code]
Now I'd

[2022-05-17 17:59] TtheBC01 opened #106 "question: Having a hard time with authentication through Argo Tunnel"
Hi!

I'm trying to use the caddy security plugin to provide authentication for a browser-based IDE (Theia Framework) I'm setting up for remote development (full code available here: https://github.com/TtheBC01/browser-ide).

When I access the application locally, the auth plugin works great, but when I throw an argo tunnel in front of it and try to access remotely, after I give the username, I get

[2022-05-17 18:02] greenpau commented on #106
@TtheBC01 , what is the config? Please output `/whoami` contents.

[2022-05-17 18:04] TtheBC01 commented on #106
ok, if i got to `/whoami` after authenticating locally I get

[code]

[2022-05-17 18:06] greenpau commented on #106
@TtheBC01 , config?

[2022-05-17 18:06] TtheBC01 commented on #106
This is the Caddyfile: https://github.com/TtheBC01/browser-ide/blob/main/Caddyfile

[2022-05-17 18:06] TtheBC01 commented on #106
Sorry, is config different than Caddyfile?

[2022-05-17 18:50] greenpau commented on #106
@TtheBC01 , try adding `cookie insecure on`. I don't see your HTTPS config, so I am assuming it is related to the cookies.

[2022-05-17 19:03] TtheBC01 commented on #106
Hmmm, that was a good idea, but still same problem. I guess I may have to live with the fact that anonymous tunnels won't work and I'll have to have TLS configured for a specific domain?

[2022-05-17 19:20] greenpau commented on #106
@TtheBC01 , how about we get on the Google Meet at 5:30 EST today and I will take a look at your setup? It is hard to troubleshoot something like this in an issue.

[2022-05-17 19:23] TtheBC01 commented on #106
Absolutely!

[2022-05-17 19:27] greenpau commented on #106
Please send me an invite to greenpau|outlook.com

[2022-05-17 20:07] iamjrock commented on #101
Hey that's awesome Paul, thx for your time and awesome caddy module.

[2022-05-17 20:09] iamjrock commented on #100
Ah yes, apologies, I did not see that related request.

Thx for looking into it.

[2022-05-17 20:10] greenpau commented on #105
@Frando , here is how you should go about it.

When `authorize` plugin passes a request to the next plugin, e.g. `reverse_proxy`, it inject a number of items into caddy context.

Please see https://github.com/greenpau/caddy-security/issues/66#issuecomment-1075744577

[code]

You can then access these variables. Please see https://github.com/greenpau/caddy-security/issues/66#issuecomment-1075777964

[2022-05-17 20:35] TtheBC01 commented on #106
Done

[2022-05-17 20:50] iamjrock commented on #99
Yes snippets & imports are the standard way to reuse configs in a Caddyfile.  I did not explain it very well, but I'm hoping the solution would not require the use of snippets.

Let's take LDAP as the example.

Can we do something like:

1) Simplified Caddy file looks like this and serves 1,000 domains with the same `https://` site block:

[code]

2) Users are stored in the LDAP IdP and each user

[2022-05-17 22:11] TtheBC01 opened #107 "feature: Remove domain from cookie"
Continued from issue #106

For reference, here is a trace:

[code]

[2022-05-17 22:14] greenpau commented on #107
@TtheBC01 , as discussed, would add a Caddyfile directive to remove domain from the issued cookies.

[2022-05-17 22:57] LeonardMeyer commented on #90
@greenpau After some tinkering I ended up with the same trick to fool preflight request as @rubydotexe, drawing inspiration from [this](https://enable-cors.org/server_nginx.html).

This is my Caddyfile:

[code]

It might be bad, I'm pretty new at Caddy. With this I don't have any CORS errors anymore, but at some point it will trigger some random JS errors in the console specific to the app which f

[2022-05-17 23:04] greenpau commented on #90
I recommend creating two different routes. One for API endpoints and another one for non-API endpoint.
In non-API (app) polict you would set the redirect to work.
In API policy, you would return 403 only, i.e. no redirect.
Here is an example.

[code]

[code]

[2022-05-17 23:43] LeonardMeyer commented on #90
Thaks for your answer @greenpau
1. The thing is I can't say `/api*` because I have several subdomains and thus containers reverse proxied, and they could have any path. I could try `/*` I suppose but getting a 401/403 isn't the goal here anyway, I want the request to actually go through !
2. Why is it detecting an unauthenticated user ? My token has a pretty long lifetime

[2022-05-18 00:36] greenpau commented on #90
@LeonardMeyer , i totally misunderstood the above. You get 302 because authorizer did not find token, or it is expired.

[2022-05-18 12:46] Frando commented on #105
Thanks @greenpau !
In the meantime I also found another way how to solve this, documenting here for others who might be interested:

I added an `action add` directive with a custom scope to the two user transforms for the different roles. As they are evaluated in-order, the second one overrides the first one if it applies. Thus, if the transforms are ordered from low-to-high privilege, the custom

[2022-05-18 13:01] greenpau commented on #105
@Frando , perfect! Please consider sponsoring and promoting this project 😄

[2022-05-18 13:01] #105 closed

[2022-05-18 14:37] MVethana opened #108 "breakfix: disable auth redirect query"
**Describe the issue**

`disable auth redirect query` does not seem to be working as intended. Expected would be to redirect but disable the `redirect_url` parameter but instead seems to disable redirect all together behaving as `disable auth redirect`

Also feel free to provide feedback regarding my Caddyfile, definitely could use some work and pretty sure parts of it are redundant in some way. T

[2022-05-18 14:43] MVethana commented on #108
To add, am following documentation found here in regards to  `disable auth redirect query`, was working as intended on prior to updating to v1.1.6